{include file="../../cabecera/cabecera_interna.html"}


<!-- incluye menu y agrega el espasio de trbajo-->
<div class="container" >
            {include file="../../menu/menu_lateral.html"}
    <div class="row" id="central">
        
        <div class="col-sm-9" style="margin-top: 50px;">



<!--finaliza-->


            <h2 class="subtitulo" align="center"><span class="badge badge-secondary badge-pill">{$n_usuarios}</span>Usuarios
            {if in_array("USUA_A",$verificar) == TRUE}

              <a class="btn btn-sm btn-outline-primary mimodal" type="button"
            data-href="agregar_admin.php?5ea6fd8de7329={$rol}" title="Agregar Usuario"><span class="fa fa-plus"></span></a>
            {/if}
            </h2>

            
          
           
              <table style="margin-top: 30px;" class="table table-responsive-xl" id="tabla_repo">
                <thead class="thead-dark">
                  <tr>
                    <th>Cedula</th>
                    <th>Correo</th>
                    <th> Funciones</th>
                  </tr>
                </thead>
                <tbody class="buscar" id="usuarios">
{section name=i loop= $usuarios}
                  <tr>
                    <td>{$usuarios[i].id}</td>
                    <td>{$usuarios[i].correo}</td>
                    <td class="text-center" style="white-space: nowrap;">
                    {if in_array("USUA_VR",$verificar) == TRUE}
                    <a 
                      style="margin-bottom:3px; color:blue;" 
                      class="btn btn-default"
                      title="Gestionar rol del usuario" 
                      href="usuarios_roles.php?id={$usuarios[i].id}{if isset($asignar)}&r={$asignar}{/if}">
                      <i class="fa fa-archive"></i>
                    </a>
                    {/if}
                    {if in_array("USUA_M",$verificar) == TRUE}
                    <a 
                      style="margin-bottom:3px; color:blue;" 
                      class="btn btn-default mimodal" 
                      title="Modificar Usuario" 
                      data-href="usuarios_modificar.php?id={$usuarios[i].id}&5ea6fd8de7329={$rol}">
                      <i class="fa fa-pencil-square-o"></i>
                    </a>
                    {/if}
                    {if in_array("USUA_E",$verificar) == TRUE}
                    <a 
                      style="margin-bottom:3px; color:blue;" 
                      class="btn btn-default mimodal"
                      title="Eliminar Usuario" 
                      data-href="usuarios_eliminar.php?id={$usuarios[i].id}&5ea6fd8de7329={$nivel}&rol_a={$rol}{if array_key_exists('id_rol', $usuarios[i])}&r={$usuarios[i].id_rol}{/if}">
                      <!-- en el if anterior verificamos si existe la key id_rol dentro del array para elminar este rol en espesifico se debe enviar el valor de esta variable como parametro -->
                      <i class="fa fa-trash"></i>
                    </a>
                    {/if}
                  
                    </td>
                  </tr>
{/section}
                </tbody>
              </table>

       </div>
   </div>

</div>

{include "../../modal/modal_box.html" prueba="Usuario"} 

{include file="../../pie/pie_interno.html"}