{include file="../../navegacion/cab.html"}
{include file="../../navegacion/sidebar2.html"}
{include file="../../navegacion/cabecera2.html"}
{include file="../../navegacion/barra_nucleo_pnf.html"}

    <div class="container-fluid">
      <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="../inicio/inicio_interno.php">Repo</a></li>
            <li class="breadcrumb-item"><a href="../distribuidor/distribuidor.php?r={$smarty.session['r'][$smarty.session['numero']].id_rol}&n={$smarty.session['numero']}">Panel {$smarty.session["r"][$smarty.session["numero"]].rol}</a></li>
            <li class="breadcrumb-item"><a href="usuarios.php">Usuarios</a></li>
            <li class="breadcrumb-item active" aria-current="page">Roles usuarios</li>
          </ol>
      <div class="card shadow">
          <div class="card-header ">
              <h2 class="text-primary"><span class="badge badge-secondary badge-pill"></span>Roles del usuario
              </h2>
          </div>
            <div class="card-body">
              <h3>
                <small>CI:</small> {$usuario['id']}
                <small>Correo</small> {$usuario['correo']}

             </h3>
              <div class="table-responsive">
                    
              <table class="display table" >
                <thead>
                  <tr>
                    <th>Roles
                    {if in_array("USUA_AR",$verificar) == TRUE} 
						          <a class="btn btn-sm btn-outline-primary mimodal" type="button" data-href="usuarios_rol_asignar.php?id={$usuario['id']}" title="Asignar un Rol a el Usuario"><span class="fa fa-plus"></span></a>
                    {/if}
                  </th>
                  <th></th>
                  <th>Nucleo</th>
                  <th>PNF</th>
                  </tr>

                </thead>
                <tbody class="buscar" id="usuarios">
                  <tr>
                    	{section name=i loop=$roles}
                    <td>
                    	
                        {if isset($rol)}
                          {if $roles[i].id_rol = $rol}
                    		    {$roles[i].rol}
                          {/if}
                        {else}
                        {$roles[i].rol}
                        {/if}
                    </td>
                    <td>
                      {if in_array("USUA_ER",$verificar) == TRUE}
                            <a 
                              style="margin-bottom:2px; color:blue;" 
                              class="btn btn-default"
                              title="Eliminar Rol a el Usuario" 
                              href="proc_usuarios_rol_eliminar.php?id={$roles[i].id}&usuario={$usuario.id}">
                              <i class="fa fa-trash"></i>
                            </a>
                          {/if}
                    </td>
                    <td >
                          {if $roles[i].id_nucleo != NULL}
                            {$nucleos=bd_nucleos_datos($roles[i].id_nucleo)}
                            {$nucleos['nombre_corto']}
                          {elseif $roles[i].id_rol != "5e7ec3342d4ee"}
                            <a class="btn btn-sm btn-outline-primary mimodal" type="button" data-href="usuarios_rol_asignar_nucleo.php?id={$roles[i].id}&id_usuario={$usuario['id']}" title="Asignar un Nucleo a el Rol"><span class="fa fa-plus"></span></a>
                            </a>
                          {/if}

                  <td>
                          {if $roles[i].id_pnf != NULL}
                            {$nucleos=bd_pnf_datos($roles[i].id_pnf)}
                            {$nucleos['nombre_corto']}
                          {elseif $roles[i].id_rol != "5e7ec3342d4ee"}
                            <a class="btn btn-sm btn-outline-primary mimodal" type="button" data-href="usuarios_rol_asignar_pnf_a_rol.php?id={$roles[i].id}&id_usuario={$usuario['id']}&nucleo={$roles[i].id_nucleo}" title="Asignar un PNF a el Rol"><span class="fa fa-plus"></span></a>
                            </a>
                          {/if}
                      </td>
                    </td>
                  </li>
                </tr>
                      {/section}
                  </td>
                    
                  </tr>
                </tbody>
              </table>
        		</div>
        	</div>
        </div>
      </div>

{include "../../modal/modal_box.html" prueba="Usuario"} 

{include file="../../pie/pie_interno.html"}
