{include file="../../navegacion/cab.html"}
{include file="../../navegacion/sidebar.html"}
{include file="../../navegacion/cabecera.html"}
<!--finaliza-->
        <div class="container-fluid">
            <div class="card shadow">
              <div class="card-header">
                <h2 class="text-primary"><span class="badge badge-secondary badge-pill">{$n_usuarios}</span> Usuarios
                {if in_array("USUA_A",$verificar) == TRUE}

                  <a class="btn btn-sm btn-outline-primary mimodal" type="button"
                data-href="agregar_admin.php?5ea6fd8de7329={$rol}" title="Agregar Usuario"><span class="fa fa-plus"></span></a>
                {/if}
                </h2>
              </div>
              <div class="card-body">
              <div class="table-responsive">
                
              <table style="margin-top: 30px;" class="table" id="tabla_repo" style="width: 100%;">
                <thead>
                  <tr>
                    <th>Cedula</th>
                    <th>Correo</th>
                    <th> Funciones</th>
                  </tr>
                </thead>
                <tbody class="buscar" id="usuarios">
                {section name=i loop= $usuarios}
                  <tr>
                    <td>{$usuarios[i].id}</td>
                    <td>{$usuarios[i].correo}</td>
                    <td class="text-center" style="white-space: nowrap;">
                    {if in_array("USUA_VR",$verificar) == TRUE}
                    <a 
                      style="margin-bottom:3px; color:blue;" 
                      class="btn btn-default"
                      title="Gestionar rol del usuario" 
                      href="usuarios_roles.php?id={$usuarios[i].id}{if isset($asignar)}&r={$asignar}{/if}">
                      <i class="fa fa-archive"></i>
                    </a>
                    {/if}
                    {if in_array("USUA_M",$verificar) == TRUE}
                    <a 
                      style="margin-bottom:3px; color:blue;" 
                      class="btn btn-default mimodal" 
                      title="Modificar Usuario" 
                      data-href="usuarios_modificar.php?id={$usuarios[i].id}&5ea6fd8de7329={$rol}">
                      <i class="fa fa-pencil-square-o"></i>
                    </a>
                    {/if}
                    {if in_array("USUA_E",$verificar) == TRUE}
                    <a 
                      style="margin-bottom:3px; color:blue;" 
                      class="btn btn-default mimodal"
                      title="Eliminar Usuario" 
                      data-href="usuarios_eliminar.php?id={$usuarios[i].id}&5ea6fd8de7329={$nivel}&rol_a={$rol}{if array_key_exists('id_rol', $usuarios[i])}&r={$usuarios[i].id_rol}{/if}">
                      <!-- en el if anterior verificamos si existe la key id_rol dentro del array para elminar este rol en espesifico se debe enviar el valor de esta variable como parametro -->
                      <i class="fa fa-trash"></i>
                    </a>
                    {/if}
                  
                    </td>
                  </tr>
                {/section}
                </tbody>
              </table>
              </div> 

       </div>
   </div>

</div>

{include "../../modal/modal_box.html" prueba="Usuario"} 

{include file="../../pie/pie_interno.html"}