<div class="container">
<div class="row">
  <div class="col-md-12">   
    <section id="home"></section>
        <section id="intro">
            <div class="container modal_col">
              <div class="centro"> 
                  <h3 align="center">Modificar tipo de trabajo</h3>
                    <form 
                      action="proc_tipo_modificar.php" 
                      method="POST" 
                      class="px-4 py-3" 
                      id="tipo_agregar"
                      name="tipo_agregar">
                      <input type="hidden" name="id" value="{$tipo.id}">
                      <div class="form-group" >
                        <input class="form-control" type="text" name="nombre" required="" placeholder="Trabajo de investigación" value="{$tipo['nombre']}">
                      </div>
                      <div class="form-group">
                        <input 
                          class="btn-enviar btn btn-sm btn-primary rounded-pill p-2" 
                          type="submit" 
                          name="enviar" 
                          value="Registrar">
                      </div>
                    </form>
                </div>
              </div>
            </section>
        </div>
  </div>
</div>