{include file="../../navegacion/cab.html"}
{include file="../../navegacion/sidebar2.html"}
{include file="../../navegacion/cabecera2.html"}
{include file="../../navegacion/barra_nucleo_pnf.html"}
   
  <div class="container-fluid">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="../inicio/inicio_interno.php">Repo</a></li>
      <li class="breadcrumb-item"><a href="../distribuidor/distribuidor.php?r={$smarty.session['r'][$smarty.session['numero']].id_rol}&n={$smarty.session['numero']}">Panel {$smarty.session["r"][$smarty.session["numero"]].rol}</a></li>
      <li class="breadcrumb-item active" aria-current="page">Trayectos</li>
    </ol>
    <div class="card shadow">
        <div class="card-header">
	        <h2 class="text-primary"><span class="badge badge-secondary badge-pill">{$n_trayectos}</span>Trayetos
	            {if in_array("TRAY_A",$verificar) == TRUE}
	             <a class="btn btn-sm btn-outline-primary mimodal" type="button" 
	            data-href="trayecto_agregar.php" title="Agregar trayecto"><span class="fa fa-plus"></span></a>
	            {/if}
	          </h2>
        </div>
        <div class="card-body">
          <div class="table-responsive">
	           <table class="table" id="tabla_repo">
                <thead>
                  <tr>
                    <th>Trayecto</th>
                    <th>Funciones</th>
                  </tr>
                </thead>
                <tbody>

                {section name=i loop=$trayectos}
                  <tr>
                    <td>{$trayectos[i].trayecto}</td>
                    {if in_array("TRAY_M",$verificar) == TRUE}
                    <td>
                      <a 
                        style="margin-bottom:3px; color:blue;" 
                        class="btn btn-default mimodal"
                        title="Modificar trayectos" 
                        data-href="trayecto_modificar.php?id={$trayectos[i].id}">
                        <i class="fa fa-edit"></i>
                      </a>
                      {/if}
                      {if in_array("TRAY_E",$verificar) == TRUE}
                      <a 
                        style="margin-bottom:3px; color:blue;" 
                        class="btn btn-default mimodal"
                        title="Eliminar trayectos" 
                        data-href="trayecto_eliminar.php?id={$trayectos[i].id}">
                        <i class="fa fa-trash"></i>
                      </a>
                      {/if}
                    <td>
                  </tr>
                {/section}
                </tbody>
              </table>
      </div>
    </div>
	</div>
</div>
{include "../../modal/modal_box.html" prueba="Usuario"} 

{include file="../../pie/pie_interno.html"}