{include file="../../navegacion/cab.html"}
{include file="../../navegacion/sidebar.html"}
  {include file="../../navegacion/cabecera.html"}


        <div class="container-fluid claro">
          <h2 class="subtitulo" align="center"><span class="badge badge-secondary badge-pill">{$n_nucleos}</span>Nucleos y Extensiones
            {if in_array("NUCL_A",$verificar) == TRUE}
             <a class="btn btn-sm btn-outline-primary mimodal mimodal" type="button" 
            data-href="nucleos_agregar.php" title="Agregar nucleo o extensión"><span class="fa fa-plus"></span></a>
            {/if}
          </h2>
            <div class="table-responsive">
              <table class="table " id="tabla_repo" style="width:100%">
                <thead class="text-dark">
                  <tr>
                    <th>Nombre Largo</th>
                    <th>Nombre Corto</th>
                    <th>Funciones</th>
                    {if in_array("NUCL_R", $verificar) == TRUE }
                    <th>Responsable</th>
                    {/if}
                  </tr>
                </thead>
                <tbody class="text-dark">

                {section name=i loop=$nucleos}

                  <tr class="text-dark">
                    <td>{$nucleos[i].nombre_largo}</td>
                    <td>{$nucleos[i].nombre_corto}</td>
                    <td class="text-center" style="white-space: nowrap;">
                    {if in_array("NUCL_M",$verificar) == TRUE}
                    <a 
                      style="margin-bottom:3px; color:blue;" 
                      class="btn btn-default mimodal" 
                      title="Modificar Nucleo o Extensión" 
                      data-href="nucleos_modificar.php?id={$nucleos[i].id}">
                      <i class="fa fa-pencil-square-o"></i>
                    </a>
                    {/if}
                    {if in_array("NUCL_E",$verificar) == TRUE}
                    <a 
                      style="margin-bottom:3px; color:blue;" 
                      class="btn btn-default mimodal"
                      title="Eliminar Nucleo o Extensión" 
                      data-href="nucleos_eliminar.php?id={$nucleos[i].id}">
                      <i class="fa fa-trash"></i>
                    </a>
                    {/if}

                    </td>
                    {if in_array("NUCL_R", $verificar) == TRUE }
                      <td>
                        {if $nucleos[i].responsable ==  NULL}
                          <a class="btn btn-sm btn-outline-primary mimodal" type="button" href="nucleo_responsable.php?id={$nucleos[i].id}" title="Asignar responsable Nucleo o Extensión"><span class="fa fa-plus"></span></a>
                        {else}
                        {$persona=bd_personas_datos($nucleos[i].responsable)}
                          <span><b>Nombre:</b></span>
                        {$persona[0].nombre}
                        <br>
                        {$usuario=bd_usuarios_datos($nucleos[i].responsable)}
                        <span><b>Usuario:</b></span>
                        {$usuario.correo}
                        <a href="nucleo_responsable.php?id={$nucleos[i].id}&cambiar={$nucleos[i].responsable}">Cambiar</a>
                        {/if}
                      </td>
                    {/if}
                  </tr>
                {/section}
                </tbody>
              </table>
            </div>
              
          </div>
  

{include "../../modal/modal_box.html" prueba="Usuario"} 

{include file="../../pie/pie_interno.html"}