{include file="../../navegacion/cab.html"}
{include file="../../navegacion/sidebar.html"}
{include file="../../navegacion/cabecera.html"}

	<div class="container-fluid">
	  <div class="card shadow">
	    <div class="card-header ">
			<h2 class="text-center">Asinar responsable de {$nucleos['nombre_corto']}
			</h2>
		</div>

	          {if isset($respuesta)}
	          	<div class="alert alert-danger" role="alert">
	            No se encuentra un rol con los permisos para ser Responsable de un Núcleo comuniquese con el administrador para que asigne un rol con los privilegios necesarios
	          </div>
	          	{else}
				<div class="car m-3 p-4">
                <div class="container">  
                  <form action="nucleo_responsable.php?id={$nucleos['id']}" method="POST">
                      <div class="input-group">
                        <input id="p" name="p" type="text" class="form-control" placeholder="12345678 o coreo@correo.com" aria-describedby="basic-addon1" required >
                        <span class="input-group-addon bg-primary" id="basic-addon1" style="padding:0 12px;"><i class="fa fa-search  pt-2"></i></span>
                      </div>
                  </form>
                </div>
              </div>
          {/if}

            {if isset($usuarios)}
			    <section id="home" class="text-center"></section>
			        <section id="intro">
			            <div class="container">
			              <div class="centro"> 
			              	<h3>Selecione un Usuario</h3>
							<form 
			                      action="nucleo_responsable.php?id={$nucleos['id']}" 
			                      method="POST" 
			                      class="px-4 py-3" 
			                      id="Asignar_responsable_de_nucleo"
			                      name="Asignar_responsable_de_nucleo">
			                    <div class="form-group">
			                        <input type="hidden" name="id_nucleo" value="{$nucleos['id']}">

			                    	{section name=i loop=$usuarios}
			                        <div class="form-check">
			                              <label class="form-check-label">
			                                <input type="radio"  class="form-check-input"  
			                                name="id_usuario" value="{$usuarios[i].id}">
			                                {$usuarios[i].correo}
			                            </label>
			              	        </div>
			                    {/section}
		                        </div>
	                    		<div class="form-group">
			                        <input 
		                          class="btn-enviar btn btn-sm btn-primary" 
			                          type="submit" 
			                          name="enviar" 
			                          value="Siguiente">
		                      </div>
			                </form>
			            </div>
			        </div>
			    </section>
            {/if}
        </div>
    </div>
</div>

{include file="../../pie/pie_interno.html"}