{include file="../../cabecera/cabecera_interna.html"}


<!-- incluye menu y agrega el espasio de trbajo-->
<div class="container" >
            {include file="../../menu/menu_lateral.html"}
    <div class="row" id="central">
        
        <div class="col-sm-9" style="margin-top: 50px;" >



<!--finaliza-->
          <h2 class="subtitulo" align="center"><span class="badge badge-secondary badge-pill">{$n_roles}</span>Roles
            {if in_array("ROLE_A",$verificar) == TRUE}
              <a class="btn btn-sm btn-outline-primary mimodal" type="button"
            data-href="roles_agregar.php" title="Agregar Rol"><span class="fa fa-plus"></span></a>
            {/if}
          </h2>

           
              <table style="margin-top: 30px;" class="table table-responsive-xl" id="tabla_repo">
                <thead class="thead-dark">
                  <tr>
                    <th>Rol</th>
                    <th> Nivel</th>
                    <th> FUNCIONES</th>
                
                  </tr>
                </thead>
                <tbody class="buscar" id="Roles">
{section name=i loop= $roles}
                  <tr>
                    <td>{$roles[i].rol}</td>
                    <td>{$roles[i].nivel}</td>
                    <td class="text-center" style="white-space: nowrap;">
                    {if in_array("ROLE_V",$verificar) == TRUE}
                    <a 
                      style="margin-bottom:3px; color:blue;" 
                      class="btn btn-default"
                      title="Ver detalles de Rol" 
                      href="roles_datos.php?id={$roles[i].id}">
                      <i class="fa fa-archive"></i>
                    </a>
                    {/if}
                    {if in_array("ROLE_M",$verificar) == TRUE}
                    <a 
                      style="margin-bottom:3px; color:blue;" 
                      class="btn btn-default mimodal" 
                      title="Modificar Rol" 
                      data-href="roles_modificar.php?id={$roles[i].id}">
                      <i class="fa fa-pencil-square-o"></i>
                    </a>
                    {/if}
                    {if in_array("ROLE_E",$verificar) == TRUE}
                    <a 
                      style="margin-bottom:3px; color:blue;" 
                      class="btn btn-default mimodal"
                      title="Eliminar Rol" 
                      data-href="roles_eliminar.php?id={$roles[i].id}">
                      <i class="fa fa-trash"></i>
                    </a>
                    {/if}
                    </td>
                  </tr>
{/section}
                </tbody>
              </table>
     

       </div>
   </div>

</div>

{include "../../modal/modal_box.html" prueba="Usuario"} 

{include file="../../pie/pie_interno.html"}