<div class="container">
  <div class="row">
    <div class="col-2"></div>
      <div class="col-8"> 
        <h1>Eliminar Rol</h1>

        <form 
          action="../mensaje/mensaje_eliminar3.php" 
          method="POST" 
          class="px-4 py-3" 
          id="eliminar_usuario"
          name="eliminar_usuario">
          <input type="hidden" name="privilegio" value="<b>{$datos.rol}</b> Si elimina este rol se eliminara de todos los usuarios que tengan este rol">
          <input type="hidden" name="si" value="../rol/proc_roloes_eliminar.php">
          <input type="hidden" name="no" value="../rol/roles.php">
          <input type="hidden" name="id" value="{$datos.id}">
           
          <div class="form-group">
              <label for="id0">Rol</label>
              <input 
                type="email" 
                title="Escriba su Correo Electrónico" 
                required="required" 
                class="form-control" 
                id="id0" 
                name="id0" 
                placeholder="login@correo.com"
                value="{$datos.rol}"
                disabled="disabled">
            </div>
        
          <div class="form-group">
          <input 
            class="btn-enviar btn btn-sm btn-primary" 
            type="submit" 
            name="enviar" 
            value="Eliminar">
          </div>

      </form>
    </div>
  </div>
 </div>