
<div class="container">
  <div class="row">
    <div class="col">
      <h2>Eliminar Area de Trabajo</h2>


  <form  

      action="../mensaje/mensaje_eliminar4.php"
      method="POST" 
      class="px-4 py-3" 
      id="areas_eliminar"
      name="areas_eliminar">
          <input type="hidden" name="nombre" 
          value="{$areas.nombre}">
          <input type="hidden" name="si" value="../area/proc_areas_pnf_eliminar.php">
          <input type="hidden" name="no" value="../area/areas.php">
          <input type="hidden" name="id" value="{$areas.id}">
      
          <div class="form-group">
          <label for="nombre_largo">Nombre</label>
          <input 
            type="text" 
            required="required" 
            class="form-control" 
            id="nombre" 
            name="nombre"
            value="{$areas.nombre}"
            disabled="disabled">
        </div>
    
        
        <div class="form-group">
      <input 
        class="btn-enviar boton" 
        type="submit" 
        name="enviar" 
        value="Eliminar">
      </div>

    </form>
    </div>
    
  </div>
</div>


