{include file="../../navegacion/cab.html"}
{include file="../../navegacion/sidebar2.html"}
{include file="../../navegacion/cabecera2.html"}


    <div class="container-fluid">
      <div class="card shadow">
        
      <div class="card-header">
          <h2 class="text-primary"><span class="badge badge-secondary badge-pill">{$n_areas}</span> Areas de Trabajo
            {if in_array("AREA_A",$verificar) == TRUE}
             <a class="btn btn-sm btn-outline-primary mimodal mimodal" type="button" 
            data-href="areas_agregar.php" title="Agregar un Area de Trabajo"><span class="fa fa-plus"></span></a>
            {/if}
          </h2>
      </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table " id="tabla_repo" style="width:100%">
                <thead class="text-dark">
                  <tr>
                    <th>Nombre</th>
                    <th>Funciones</th>
                    <th>Nucleo</th>
                    <th>PNF</th>
                    {if in_array("AREA_R", $verificar) == TRUE }
                    <th>Responsable</th>
                    {/if}
                  </tr>
                </thead>
                <tbody class="text-dark">

                {section name=i loop=$areas}
                

                  <tr class="text-dark">
                    <td>{$areas[i].nombre}</td>
                    <td class="text-center" style="white-space: nowrap;">
                    {if in_array("AREA_M",$verificar) == TRUE}
                    <a 
                      style="margin-bottom:3px; color:blue;" 
                      class="btn btn-default mimodal" 
                      title="Modificar Area de Trabajo" 
                      data-href="areas_modificar.php?id={$areas[i].id}">
                      <i class="fa fa-edit"></i>
                    </a>
                    {/if}
                    {if in_array("AREA_E",$verificar) == TRUE}
                    <a 
                      style="margin-bottom:3px; color:blue;" 
                      class="btn btn-default mimodal"
                      title="Eliminar Area de Trabajo" 
                      data-href="areas_eliminar.php?id={$areas[i].id}">
                      <i class="fa fa-trash"></i>
                    </a>
                    {/if}

                    </td>

                    <td>{$smarty.session["r"][$smarty.session["numero"]].id_nucleo}</td>
                    <td>{$smarty.session["r"][$smarty.session["numero"]].id_pnf}</td>
                   

                    {if in_array("AREA_R", $verificar) == TRUE }
                      <td>
                        {if $areas[i].responsable_area ==  NULL}
                          <a class="btn btn-sm btn-outline-primary mimodal" type="button" href="areas_responsable.php?id={$areas[i].id}" title="Asignar responsable a un Area de Trabajo"><span class="fa fa-plus"></span></a>
                        {else}
                        {$persona=bd_personas_datos($areas[i].responsable_area)}
                          <span><b>Nombre:</b></span>
                        {$persona.nombre}
                        <br>
                        {$usuario=bd_usuarios_datos($areas[i].responsable_area)}
                        <span><b>Usuario:</b></span>
                        {$usuario.correo}
                        <a href="areas_responsable.php?id={$areas[i].id}&cambiar={$areas[i].responsable_area}">Cambiar</a>
                        {/if}
                      </td>
                    {/if}
                  </tr>
                {/section}
                
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
  

{include "../../modal/modal_box.html" prueba="Usuario"} 

{include file="../../pie/pie_interno.html"}