{include file="../../cabecera/cabecera.html"}

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-5 ">
      <br>
      <br>
      <br>
      <br>

        <div class="card p-4  my-4 shadow">
    		  <p class="text-center">¿Olvidaste tu contraseña? Aquí puede recuperar fácilmente una nueva contraseña.</p>
    			<form action="proc_olvido.php" method="POST" class="px-4 py-3">
    				 <div class="form-group">
                <input 
              	 type="email" 
                  title="Escriba su Correo Electrónico" 
                  required="required" 
                  class="form-control" 
                  id="correo" 
                  name="correo" 
                  placeholder="correo@correo.com">
                </div>
                <div class="form-group">
              		<input 
              			class="btn-enviar btn btn-md btn-block btn-primary" 
              			type="submit" 
              			name="enviar" 
              			value="Enviar">
                </div>
    				
    			</form>

    		</div>	
    </div>
  </div>
</div>


{include file="../../pie/pie_externo.html"}