{include file="../../navegacion/cab.html"}
{include file="../../navegacion/sidebar2.html"}
{include file="../../navegacion/cabecera2.html"}
   
        <div class="container-fluid">
          <div class="card shadow">
              <div class="card-header ">
                <h2 class="text-primary"><span class="badge badge-secondary badge-pill">{$n_pnf}</span> PNF
                  {if in_array("PNF_A",$verificar) == TRUE}
                  <a class="btn btn-sm btn-outline-primary mimodal" type="button" data-href="pnf_agregar.php" title="Agregar PNF"><span class="fa fa-plus"></span></a>
                  {/if}
                </h2>
               </div>
              <div class="card-body">
                <div class="table-responsive">
                  
                  <table class="table" id="tabla_repo" style="width:100%">
                    <thead>
                      <tr>
                        <th>Nombre Largo</th>
                        <th>Nombre Corto</th>
                        <th>Funciones</th>
                      </tr>
                    </thead>
                    <tbody class="buscar" id="personas">

                    {section name=i loop=$pnf}

                      <tr>
                        <td>{$pnf[i].nombre_largo}</td>
                        <td>{$pnf[i].nombre_corto}</td>
                        <td class="text-center" style="white-space: nowrap;">
                        {if in_array("PNF_M",$verificar) == TRUE}
                        <a 
                          style="margin-bottom:3px; color:blue;" 
                          class="btn btn-default mimodal" 
                          title="Modificar PNF" 
                          data-href="pnf_modificar.php?id={$pnf[i].id}">
                          <i class="fa fa-edit"></i>
                        </a>
                        {/if}
                        {if in_array("PNF_E",$verificar) == TRUE}
                        <a 
                          style="margin-bottom:3px; color:blue;" 
                          class="btn btn-default mimodal"
                          title="Eliminar PNF" 
                          data-href="pnf_eliminar.php?id={$pnf[i].id}">
                          <i class="fa fa-trash"></i>
                        </a>
                        {/if}
                        </td>
                      </tr>
                    {/section}

                    </tbody>
                  </table>
                </div> 
              </div>
            </div>
          </div>

{include "../../../modal/modal_box.html" prueba="Usuario"} 

{include file="../../pie/pie_interno.html"}