
<div class="container">
  <div class="row">
    <div class="col">
      <h2>Eliminar PNF</h2>


  <form 
      action="../mensaje/mensaje_eliminar2.php"
      method="POST" 
      class="px-4 py-3" 
      id="pnf_eliminar"
      name="pnf_eliminar">
          <input type="hidden" name="nombre_corto" value="{$pnf.nombre_corto}">
          <input type="hidden" name="si" value="../pnf/proc_pnf_eliminar.php">
          <input type="hidden" name="no" value="../pnf/pnf.php">
          <input type="hidden" name="id" value="{$pnf.id}">
      
          <div class="form-group">
          <label for="nombre_largo">Nombre Completo</label>
          <input 
            type="text" 
            required="required" 
            class="form-control" 
            id="nombre_largo" 
            name="nombre_largo"
            placeholder="Escriba el Nombre Completo del PNF"
            value="{$pnf.nombre_largo}"
            disabled="disabled">
        </div>
    
        <div class="form-group">
          <label for="nombre_corto">Nombre Abreviado</label>
          <input 
            type="text" 
            required="required" 
            class="form-control" 
            id="nombre_corto" 
            name="nombre_corto"
            placeholder="Escriba el Nombre Abreviado del PNF"
            value="{$pnf.nombre_corto}"
            disabled="disabled">
        </div>
    
        
        <div class="form-group">
      <input 
        class="btn-enviar boton" 
        type="submit" 
        name="enviar" 
        value="Eliminar">
      </div>

    </form>
    </div>
    
  </div>
</div>


