{include file="../../navegacion/cab.html"}
{include file="../../navegacion/sidebar2.html"}
{include file="../../navegacion/cabecera2.html"}
   
        <div class="container-fluid">
          <div class="card shadow">
              <div class="card-header ">
                <h2 class="text-primary"><span class="badge badge-secondary badge-pill">{$propuesta.numero_propuestas}</span> Propuestas
                  {if in_array("PROP_A",$verificar) == TRUE}
                  <a class="btn btn-sm btn-outline-primary mimodal 
                    {if $propuesta.numero_propuestas >= $propuesta.limite_propuestas}
                    disabled
                    {/if}
                    " type="button" 
                          href="propuesta_agregar.php?equipo_id={$equipo_id}" title="Agregar una Propuesta"><span class="fa fa-plus"></span>
                    </a>
                  | Equipo: {$lider.nombre_equipo}
                  {/if}
                </h2>
                <div class="col-md-6 ">
                Limite de Propuestas:
                <span class="badge badge-info badge-pill">{$propuesta.limite_propuestas}</div>
 
              </div>

              <div class="card-body">
                <div class="table-responsive">
                  
                  <table class="table" id="tabla_repo" style="width:100%">
                    <thead>
                      <tr>
                        <th>Propuesta</th>
                        <th>Objetivo</th>
                        <th>Funciones</th>
                      </tr>
                    </thead>
                    <tbody class="buscar" id="personas">

                    {section name=i loop=$propuestas}

                      <tr>
                        <td>{$propuestas[i].propuesta}</td>
                        <td>{$propuestas[i].objetivo}</td>
                        <td class="text-center" style="white-space: nowrap;">
                        {if in_array("PNF_M",$verificar) == TRUE}
                        <a 
                          style="margin-bottom:3px; color:blue;" 
                          class="btn btn-default mimodal" 
                          title="Modificar PNF" 
                          data-href="pnf_modificar.php?id={$pnf[i].id}">
                          <i class="fa fa-edit"></i>
                        </a>
                        {/if}
                        {if in_array("PNF_E",$verificar) == TRUE}
                        <a 
                          style="margin-bottom:3px; color:blue;" 
                          class="btn btn-default mimodal"
                          title="Eliminar PNF" 
                          data-href="pnf_eliminar.php?id={$pnf[i].id}">
                          <i class="fa fa-trash"></i>
                        </a>
                        {/if}
                        </td>
                      </tr>
                    {/section}

                    </tbody>
                  </table>
                </div> 
              </div>
            </div>
          </div>
        </div>

{include "../../../modal/modal_box.html" prueba="Usuario"} 

{include file="../../pie/pie_interno.html"}