{include file="../../navegacion/cab.html"}
{include file="../../navegacion/sidebar2.html"}
{include file="../../navegacion/cabecera2.html"}
  <style type="text/css">
  #propuesta_agregar fieldset:not(:first-of-type) {
    display: none;
  }
  </style>
<div class="container">
  <div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">  
  <div class="card">
    <div class="card-body">
      <div class="container">
        <h2 class="p-3 font-weight-bold">Agregar propuesta</h2>
        <small>Los campos marcados con <i class="text-danger">*</i> son requeridos</small>
        <div class="progress m-3">
          <div class="progress-bar progress-bar-striped progress-bar-animated active" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
        </div>

        <form 
            action="proc_propuesta_agregar.php" 
            method="POST" 
            class="px-4 py-3" 
            id="propuesta_agregar"
            name="propuesta_agregar">
          <fieldset class="">
            <h3 class="my-3 font-weight-bold"><span class="badge badge-primary rounded-circle">1</span> Confrmar autores</h3>
            <div class="form-group">
              <label for="autores">Autores</label>
              <div class="form_datos">{$lider.nombre|capitalize} {$lider.apellido|capitalize}</div>
              <input 
                  type="hidden" 
                  name="lider" 
                  value="{$lider.id}">
              
              {section loop=$equipo name=i}
              <input 
                  type="hidden" 
                  name="autores[]" 
                  value="{$equipo[i].id}">
              <div class="form_datos">{$equipo[i].nombre|capitalize} {$equipo[i].apellido|capitalize}</div>
              
              {/section}
            </div>
          
            <input type="button" name="data[password]" class="next btn btn-info" value="Confirmar">
          </fieldset>
          <fieldset class="">
            <h3 class="my-3 font-weight-bold"><span class="badge badge-primary rounded-circle">2</span> Datos generales</h3>
            <input type="hidden" name="equipo_id" value="{$equipo_id}">
            <div class="form-group"> 
              PNF
              <div class="form_datos">{$pnf.nombre_largo}</div>
              <input 
                  type="hidden" 
                  id="pnf_id" 
                  name="pnf_id"
                  value="{$pnf.id}">
              </div>

              <div class="form-group">
                Docente Asesor Responsable
                <div class="form_datos">{$docente.nombre|capitalize} {$docente.apellido|capitalize}</div>
              <input 
                  type="hidden" 
                  name="docente" 
                  value="{$docente.id}">
              </div>
              <div class="form-group">
              Trayecto
              <div class="form_datos">{$trayecto.trayecto|capitalize}</div>
              <input 
                  type="hidden" 
                  id="trayecto_id" 
                  name="trayecto_id"
                  value="{$trayecto.id}">
            </div>
            <div class="form-group">
                <label for="fecha">Fecha de creación<i class="text-danger">*</i></label>
                <input 
                  width="20px" 
                  type="date" 
                  title="Coloque la Fecha Correspondiente" 
                  required="required" 
                  class="form-control" 
                  id="fecha" 
                  name="fecha"  
                  placeholder='{$smarty.now|date_format:"%d/%m/%Y"}'
                  value='{$fecha}' 
                  name="fecha" 
                  >
            </div>
            <div class="form-group">
                      
              <label for="linea_investigacion">Línea de Investigación <i class="text-danger">*</i></label>
              <select id="linea_investigacion" name="linea_investigacion" class="form-control" required="">
                  <option selected></option>
                  {section name=a loop=$lineas}
                  <option value="{$lineas[a].id}">{$lineas[a].nombre}</option>
                  {/section}
                </select>
                  
            </div>
            <input type="button" name="previous" class="previous btn btn-default" value="Previo">
            <input type="button" name="next" class="next btn btn-info" value="Siguiente">
          </fieldset>
          <fieldset class="">
            <h3 class="my-3 font-weight-bold"><span class="badge badge-primary rounded-circle">3</span> Información de la comunidad</h3>
            <div class="form-group">
              <label>Buscar comunidad</label>
              <br>
              <small>Escriba el nombre o las siglas de la comunidad o institución</small>
              <input 
              type="text"
              id="buscar_comunidad"
              name="buscar_comunidad"
              class="form-control" 
              title="Escriba el nombre o las siglas de la comunidad o institución"
              placeholder="Escriba el nombre o las siglas de la comunidad o institución" 
               >
            </div>
           <div id="alerta-comunidad">
             
           </div>
            <button class="btn btn-primary " 
               title="Registrar comunidad"
               id="btn-comunidad" 
               disabled>
               <i class="fa fa-plus"></i>
             </button>
            <div class="form-group">
              
            </div>
            <div class="form-group" >
              <label>Selecione comunidad <i class="text-danger">*</i></label>
              <select id="comunidad" name="comunidad" class="form-control" required="">
                 
                  
                </select>
            </div>
            <input type="button" name="previous" class="previous btn btn-default" value="Previo">
            <input type="button" name="next" class="next btn btn-info" value="Siguiente">
          </fieldset>
            <fieldset class="">
            <h3 class="my-3"><span class="badge badge-primary rounded-circle">4</span> Propuestas</h3>
              <div class="card mb-4">
                <div class="card-header">
                  <a class="link" data-toggle="collapse" href="#proposicion1" aria-expanded="false" aria-controls="proposicion1">
                  Proposicion 1</a>
                </div>
              <div class="collapse show" id="proposicion1">
                <div class="card-body">
                  <div class="form-group">
                    <label for="proposicion1">Propuesta <i class="text-danger">*</i></label>
                    <textarea
                      type="text" 
                      title="propuesta" 
                      required="required" 
                      class="form-control " 
                      id="proposicion1" 
                      name="proposicion1"
                      ></textarea> 
                  </div>
                  <div class="form-group">
                    <label for="objetivo1">Objetivo <i class="text-danger">*</i></label>
                    <textarea 
                      type="text" 
                      title="Objetivo General" 
                      required="required" 
                      class="form-control " 
                      id="objetivo1" 
                      name="objetivo1"
                      ></textarea>
                  </div>
                </div>
              </div>
            </div>

              <div class="card mb-4">
                <div class="card-header">
                 <a class="link" data-toggle="collapse" href="#proposicion2" aria-expanded="false" aria-controls="proposicion2">
                  Proposicion 2</a>
                </div>
              <div class="collapse" id="proposicion2">
                <div class="card-body">
                  <div class="form-group">
                    <label for="propuesta2">Propuesta <i class="text-danger">*</i></label>
                    <textarea 
                      type="text" 
                      title="Propuesta" 
                      required="required" 
                      class="form-control " 
                      id="proposicion2" 
                      name="proposicion2"
                      ></textarea>
                  </div>
                  <div class="form-group">
                    <label for="objetivo2">Objetivo <i class="text-danger">*</i></label>
                    <textarea 
                      type="text" 
                      title="Objetivo General" 
                      required="required" 
                      class="form-control " 
                      id="objetivo2" 
                      name="objetivo2"
                      ></textarea>
                  </div>
                </div>
              </div>
            </div>

              <div class="card mb-4">
                <div class="card-header">
                  <a class="link" data-toggle="collapse" href="#proposicion3" aria-expanded="false" aria-controls="proposicion3">
                  Proposicion 3</a>
                </div>
               <div class="collapse" id="proposicion3">  
                <div class="card-body">
                  <div class="form-group">
                    <label for="proposicion3">Propuesta <i class="text-danger">*</i></label>
                    <textarea 
                      type="text" 
                      title="Propuesta" 
                      required="required" 
                      class="form-control " 
                      id="proposicion3" 
                      name="proposicion3"
                      ></textarea>
                  </div>
                  <div class="form-group">
                    <label for="objetivo3">Objetivo <i class="text-danger">*</i></label>
                    <textarea 
                      type="text" 
                      title="Objetivo General" 
                      required="required" 
                      class="form-control " 
                      id="objetivo3" 
                      name="objetivo3"
                      ></textarea>
                  </div>
                </div>
              </div>
            </div> 
            <input type="button" name="previous" class="previous btn btn-default" value="Previo">

            <input type="submit" name="submit" class="submit btn btn-success" value="Enviar" id="submit_data">
          </fieldset>
          </form>
      </div>
    </div>
  </div>
    <div class="col-md-2"></div>

</div> 
</div>
</div>

{include "../../modal/modal_comunidad.html"} 

{include file="../../pie/pie_interno.html"}


