{include file="../../navegacion/cab.html"}
{include file="../../navegacion/sidebar2.html"}
{include file="../../navegacion/cabecera2.html"}

	<div class="container-fluid">
		<div class="col-md-12">
		  <div class="card shadow">
		  	<div class="card-header">
		  		<h4>Lider de equipo</h4>
		  	</div>
		  	<div class="card-body">
		  			{section name=i loop=$lider}
		  		<div class="row">
		  			
		  			<div class="col">

						<a href="equipo.php?id={$lider[i].id}" class="list-group-item list-group-item">  
						{if isset($lider[i].nombre_equipo)}
							{$lider[i].nombre_equipo}
						{else}
							El equipo aun no tiene nombre
						{/if}
						</a>
					</div>


		  			<div style="border: solid 1px #DFDFDF; border-radius: 5px;" class="col">
		  				
						<h5 style="margin-top: 10px;"><a href="../propuesta/propuesta.php?equipo_id={$lider[i].id}"><span class="badge lg badge-pill badge-secondary" title="Propuesta"><i class="fa fa-list-alt">&nbsp;&nbsp;</i>Propuesta</span></a></h5>

		  			</div>		
		  		</div>
					{/section}

			  	
			</div>
		</div>
	  </div>
	</div>

{include "../../modal/modal_box.html" prueba="Usuario"} 

{include file="../../pie/pie_interno.html"}