<div class="container">
	<h3>Añadir observación</h3>
	<form method="POST" action="../observaciones/proc_añadir_observacion.php">
		<div class="form-group">
			<input type="hidden" name="tipo" value="{$datos.tipo}">
			<input type="hidden" name="fila" value="{$datos.fila}">
    		<label for="descripcion">Observación</label>
    		<textarea class="form-control" id="descripcion" name="descripcion" rows="3" required=""></textarea>
  		</div>
  		<button type="subtmi" class="btn btn-primary">Añadir</button>
  	</form>
</div>