{include file="../../navegacion/cab.html"}
{include file="../../navegacion/sidebar2.html"}
{include file="../../navegacion/cabecera2.html"}
{include file="../../navegacion/barra_nucleo_pnf.html"}

<div class="container-fluid">
	<h3 class="font-weight-bold text-gray-900">Hola de nuevo!</h3>
	<div class="row">
		<div class="col-md-8">
			<div class="card mb-2" style="max-width: 540px;">
			  <div class="row no-gutters">
			    <div class="col-md-3">
			      <i class="far fa-file-alt fa-6x text-center m-2 p-2 text-primary"></i>
			    </div>
			    <div class="col-md-8">
			      <div class="card-body">
			        <h5 class="card-title">Tu trabajo</h5>
			        <h6>{$trabajo.titulo}</h6>
			       
			        <p class="card-text"><small class="text-muted">Fecha de Inicio {$trabajo.fecha_inicio}</small></p>
			      </div>
			    </div>
			    <div class="col-md-1">
			    	<div class="dropdown no-arrow  bg-gray-200 p-2">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-800"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink" style="">
                      <div class="dropdown-header">Opciones Trabajo:</div>
                      <a class="dropdown-item" href="#">Entregas</a>
                      <a class="dropdown-item" href="#">Documentos</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Extructura del documento</a>
                    </div>
                  </div>
			    </div>
			  </div>
			  
			</div>
			{if count($documentos) > 0}
			<div class="container">
				<h4 class="font-weight-bold text-gray-800 mt-2">Documentos nuevos</h4>
				<div class="card-columns">
				{section name=i loop=$documentos}
					{if $documentos[i].status == 'NUEVO'}
					<div class="card">
					<i class="card-img-top far fa-file-pdf fa-6x text-center m-1 p-2 text-danger"></i>
						<div class="card-body">
						<h5 class="card-title">Documento nuevo</h5>
						<p class="text-muted">Subido el día {$documentos[i].fecha_subida} </p>
						</div>
						<div class="card-footer">
							<a data-href="../documentos/documento_enviar.php?i={$documentos[i].id_documento}&t=0" class="btn btn-sm btn-circle mimodal btn-primary" title="Enviar al profesor documento"><i class="text-white far fa-paper-plane"></i></a>  
							<a data-href="../documentos/documento_ver.php?i={$documentos[i].id_documento}" class="btn btn-sm btn-circle mimodal btn-success" title="Ver el documento"><i class="text-white far fa-eye"></i></a>  
							<a data-href="../documentos/documento_eliminar.php?i={$documentos[i].id_documento}" class="btn btn-sm btn-circle mimodal btn-danger" title="Eliminar documento"><i class="text-white far fa-trash-alt"></i></a>  
						</div>
					</div>
					{/if}
					{/section}
				</div>
			</div>
			<div class="container">
				<h4 class="font-weight-bold text-gray-800 mt-2">Documentos para corregir</h4>
				<div class="card-columns">
				{section name=i loop=$documentos}
					{if $documentos[i].status == 'CORRECCIONES'}
					<div class="card">
					<i class="card-img-top far fa-file-pdf fa-6x text-center m-1 p-2 text-danger"></i>
						<div class="card-body">
						<h5 class="card-title">Documento</h5>
						<p class="text-muted">Subido el día {$documentos[i].fecha_subida} </p>
						</div>
						<div class="card-footer">
							<a class="btn btn-warning btn-sm btn-circle mimodal" data-href="../documentos/documentos_agregar_correcciones.php?t={$trabajo.id}&id_documento={$documentos[i].id_documento}" title="Subir correciones"><i class="fas fa-file-import mx-2 text-gray-900	"></i></a>
							<a data-href="../documentos/documento_ver.php?i={$documentos[i].id_documento}" class="btn btn-sm btn-circle mimodal btn-success" title="Ver el documento"><i class="text-white fas fa-eye"></i></a>  
							<a data-href="../observaciones/observaciones_ver.php?i={$documentos[i].id_documento}" class="btn btn-sm btn-circle mimodal btn-dark" title="Ver observaciones del documento"><i class="text-white far fa-eye"></i></a>  

						</div>
					</div>
					{/if}
					
					{/section}
				</div>
			</div>
			<div class="container">
				<h4 class="font-weight-bold text-gray-800 mt-2">Documentos aprobados</h4>
				<div class="card-columns">
				{section name=i loop=$documentos}
					{if $documentos[i].status == 'APROBADO'}
					<div class="card">
					<i class="card-img-top far fa-file-pdf fa-6x text-center m-1 p-2 text-danger"></i>
						<div class="card-body">
						<h5 class="card-title">Documento</h5>
						<p class="text-muted">Subido el día {$documentos[i].fecha_subida} </p>
						</div>
						<div class="card-footer">
							<a data-href="../documentos/documento_ver.php?i={$documentos[i].id_documento}" class="btn btn-sm btn-circle mimodal btn-success" title="Ver el documento"><i class="text-white fas fa-eye"></i></a>  
							<a data-href="../observaciones/observaciones_ver.php?i={$documentos[i].id_documento}" class="btn btn-sm btn-circle mimodal btn-dark" title="Ver observaciones del documento"><i class="text-white far fa-eye"></i></a>  

						</div>
					</div>
					{/if}
					
					{/section}
				</div>
			</div>
			{/if}
		</div>

		<div class="col-md-4">

			{if count($entregables) > 0}
				{section name=i loop=$entregables}
				<div class="alert alert-primary">
	                    	
		        	<div class="media">
						<i class="fas fa-primary-circle fa-2x mr-3 my-3"></i>
						<div class="media-body my-2">
							<p class="notificaiton-title mb-2"><strong>HEYYY!</strong></p><p> Parece que tienes un entregable pendiente.</p>
							
						<a class="btn btn-primary rounded-pill mimodal mb-2 text-white" data-href="../entregables/entregables_detalle.php?id={$entregables[i].id}">Detalles</a>
						<a class="btn btn-light rounded-pill mimodal mb-2" data-href="../documentos/documento_agregar.php?t={$trabajo.id}&e={$entregables[i].id}"><i class="fas fa-file-import mx-2"></i> Subir</a>
							<p><strong>Feche Limite para la entrega</strong> <span class="text-danger">{$entregables[0].fecha_entrega}</span> </p>
						</div>
					</div>
				{/section}
			{/if}

		</div>
		{if count($documentos) > 0}
			{section name=i loop=$documentos}
				{if $documentos[i].status == 'NUEVO'}

				<div class="alert alert-info">
					<div class="media">
						<i class="fas fa-info-circle fa-2x mr-3 my-3"></i>
						<div class="media-body my-2">
							<p class="notificaiton-title mb-2"><strong>Importante!</strong></p><p> Aun no has enviado el documento al profesor.</p>
							
							<p>Para enviar haga click en botón enviar del documento que desea enviar.</p>
							<a href="#" class="btn btn-sm btn-circle btn-primary "><i class="text-white far fa-paper-plane"></i></a>  
						</div>
					</div>
				</div> 
				{/if}
				{if $documentos[i].status == 'CORRECCIONES'}

				<div class="alert alert-danger">
					<div class="media">
						<i class="fas fa-info-circle fa-2x mr-3 my-3"></i>
						<div class="media-body my-2">
							<p class="notificaiton-title mb-2"><strong>Importante!</strong></p><p> Tines un documento para realizarle correcciones.</p>
							
							<p>Para ver las observaciones del profesor haga click en el boton observaciones correspondiente al documento.</p>
							<a href="#" class="btn btn-sm btn-circle mimodal btn-dark" title="Ver observaciones del documento"><i class="text-white far fa-eye"></i></a>  
							
						</div>
					</div>
				</div> 

				{/if}
				{if $documentos[i].status == 'APROBADO'}

				<div class="alert alert-success">
					<div class="media">
						<i class="fas fa-check-circle fa-2x mr-3 my-3"></i>
						<div class="media-body my-2">
							<p class="notificaiton-title mb-2"><strong>Exelente!</strong></p><p> Uno de tus documentos a sido aprovado.</p>
							
							<p>Puede que tengaobservaciones del profesor haga click en el boton observaciones correspondiente al documento.</p>
							<a href="#" class="btn btn-sm btn-circle mimodal btn-dark" title="Ver observaciones del documento"><i class="text-white far fa-eye"></i></a>  
							
						</div>
					</div>
				</div> 

				{/if}				
			{/section}
		{/if}
			 
	

		
		</div>
	</div>
</div>

{include "../../modal/modal_box.html" prueba="Trabajo"} 
{include file="../../pie/pie_interno.html"}