{include file="../../navegacion/cab.html"}
{include file="../../navegacion/sidebar2.html"}
{include file="../../navegacion/cabecera2.html"}

<div class="container-fluid">
	<div class="alert alert-info alert-dismissible fade show" role="alert">
	  <strong>Para asignar un lider</strong> Escriba el numero de CI o correo electronico si la persona esta registrada agreguela.
	  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	    <span aria-hidden="true">&times;</span>
	  </button>
	</div>
	<div class="card shadow">
	    <div class="card-header ">
			<h2 class="text-center">Asinar un Líder de Equipo</h2>
		</div>
	<div class="card-body">
	    {if isset($respuesta)}
	      	<div class="alert alert-danger" role="alert">
	            No se encuentra un rol con los permisos para ser Líder de Equipo comuniquese con el administrador para que asigne un rol con los privilegios necesarios
	        </div>
	   	{else}
	   	<div class="row">
	   		<div class="col-md-10">
	       		<form id="from_busqueda_asignar" method="POST" action="lider_asignar.php">
	       			<input type="hidden" id="id_rol" value="{$id_rol}">
	           		<label>Escriba el numero de CI o el correo electronico</label>
	           		<div class="input-group">
	               		<input id="busqueda_asignar" type="text" class="form-control" placeholder="12345678 o coreo@correo.com" aria-describedby="basic-addon1">
	               		<div class="input-group-append">
			                <button class="btn btn-primary" type="button">
				                <i class="fa fa-search fa-sm"></i>
				            </button>
		        		</div>
	           		</div>
	           		<div id="agregar" class="mt-3 p-4">
                	
                	</div>
	           		<div id="usuarios" class="">
	               	
	           		</div>
	           		<div id="btn_asignar">
	               	
	           		</div>
	           	</form>
	   		</div>
	   		<div class="col-md-2">
	   			<a class="btn btn-primary rounded-pill" type="button"
                	href="#" title="Agregar Usuario"
                	id="btn-agregar-usuario">
                	<span class="fa fa-plus"></span>
                </a>
	   		</div>
	   	</div>
	</div>
</div>
{/if}
</div>
</div>


{include file="../../usuario/templates/modal_agregar_ajax.html"}
{include file="../../pie/pie_interno.html"}