{include file="../../navegacion/cab.html"}
{include file="../../navegacion/sidebar2.html"}
{include file="../../navegacion/cabecera2.html"}
{include file="../../navegacion/barra_nucleo_pnf.html"}


<div class="container-fluid">
<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="../inicio/inicio_interno.php">Repo</a></li>
    <li class="breadcrumb-item"><a href="../distribuidor/distribuidor.php?r={$smarty.session['r'][$smarty.session['numero']].id_rol}&n={$smarty.session['numero']}">Panel {$smarty.session["r"][$smarty.session["numero"]].rol}</a></li>
    <li class="breadcrumb-item active" aria-current="page">Secciones</li>
  </ol>
</nav>
  <h2>{$pnf['nombre_corto']}</h2>
  <div class="row">
  	<div class="col-md-6 col-sm-4">
  	
	  <div class="card shadow">
			<div class="card-header ">
				<h3 class="text-primary">Secciones</h3>
			</div>
			<div class="card-body p-0">
				<div class="list-group list-group-flush">	
					{section name=i loop=$seccion_profesor}
						<a href="lideres.php?id={$seccion_profesor[i].id}" class="list-group-item list-group-item-action">{$seccion_profesor[i].nombre}</a>
			       {/section}
			    </div>
	  		</div>
	  	</div>
  	</div>
  </div>
</div>


{include "../../modal/modal_galeria.html" prueba="Usuario"} 
{include "../../modal/modal_box.html" prueba="Usuario"} 

{include file="../../pie/pie_interno.html"}