{include file="../../navegacion/cab.html"}
{include file="../../navegacion/sidebar2.html"}
{include file="../../navegacion/cabecera2.html"}
{include file="../../navegacion/barra_nucleo_pnf.html"}

<div class="container-fluid">

 <nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="../inicio/inicio_interno.php">Repo</a></li>
    <li class="breadcrumb-item"><a href="../distribuidor/distribuidor.php?r={$smarty.session['r'][$smarty.session['numero']].id_rol}&n={$smarty.session['numero']}">Panel {$smarty.session["r"][$smarty.session["numero"]].rol}</a></li>
    <li class="breadcrumb-item"><a href="lider_seccion.php">Secciones</a></li>
    <li class="breadcrumb-item active" aria-current="page">Sección {$seccion.nombre}</li>
  </ol>
</nav>

  <div class="card shadow">
    <div class="card-header ">
      <h2 class="text-primary"> Equipos
        {if in_array('LIDE_A',$verificar) == TRUE}
          <a class="btn btn-sm btn-outline-primary mimodal" type="button" 
            data-href="agregar_equipo.php?seccion={$seccion.id}" title="Agregar un nuevo equipo"><span class="fa fa-plus"></span>
          </a>
            {/if}
      </h2>
    </div>
    
    <div class="card-body">
      <div class="card-title">{$trayecto.trayecto}</div>
     <div class="table-responsive">
      <table class="table " id="tabla_repo" style="width:100%">
        <thead class="text-dark">
            <th width="2%">Nombre de Equipo</th>
            {if in_array("PROF_AL", $verificar) == TRUE }
            <th>Líder</th>
            {/if}

            {if in_array("TUTO_AAC", $verificar) == TRUE }
            <th>Tutor Académico</th>
            {/if}

            {if in_array("TUTO_ACO", $verificar) == TRUE }
            <th>Tutor Comunitario</th>
            {/if}
            <th>Funciones</th>
          </tr>
        </thead>
        <tbody class="text-dark">

        {section name=i loop=$lider_seccion}


            <td>
              {if $lider_seccion[i].nombre_equipo == NULL}
              El equipo aun no tiene nombre
              {else}
              {$lider_seccion[i].nombre_equipo}
              {/if}
            </td>


            {if in_array("PROF_AL", $verificar) == TRUE }
              <td>
                {if $lider_seccion[i].id_persona ==  NULL}
                  <a class="btn btn-sm btn-outline-primary" type="button" href="lider_asignar.php?seccion={$seccion.id}&equipo={$lider_seccion[i].id}"title="Agregar equipo"><span class="fa fa-plus"></span></a>
                {else}
                  {$persona=bd_personas_datos($lider_seccion[i].id_persona)}
                    
                   {if $persona.foto_perfil == NULL}
                      <img class="img-thumbnail img-user rounded-circle" src="../../imagenes/perfil/user.png">
                    {else}
                    <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                   data-image="../../imagenes/perfil/{$persona.foto_perfil}"
                   data-target="#image-gallery">
                      <img class="img-thumbnail img-user rounded-circle" src="../../imagenes/perfil/{$persona.foto_perfil}" alt="User profile picture">
                      </a>
                  {/if}
                    
                    <span><b>Nombre:</b></span>
                  {if isset($persona.nombre)}
                    {$persona.nombre}
                  {else}
                  El usuario aun no actualiza sus datos
                  {/if}
                  <br>
                  {$usuario=bd_usuarios_datos($lider_seccion[i].id_persona)}
                  <span><b>Usuario:</b></span>
                  {$usuario.correo}
                  <br>
                  <a href="lider_asignar.php?equipo={$lider_seccion[i].id}&cambiar={$lider_seccion[i].id_persona}&seccion={$seccion.id}">Cambiar</a>
                {/if}

              </td>
            {/if}

             {if in_array("TUTO_AAC", $verificar) == TRUE }
              <td>
                {if $lider_seccion[i].tutor_academico ==  NULL}
                  <a class="btn btn-sm btn-outline-primary" type="button" href="tutor_academico_asignar.php?seccion={$seccion.id}&equipo={$lider_seccion[i].id}" title="Asignar Tutor Académico"><span class="fa fa-plus"></span></a>
                {else}
                  {$persona=bd_personas_datos($lider_seccion[i].tutor_academico)}
                 
                   {if $persona.foto_perfil == NULL}
                      <img class="img-thumbnail img-user rounded-circle" src="../../imagenes/perfil/user.png">
                    {else}
                    <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                   data-image="../../imagenes/perfil/{$persona.foto_perfil}"
                   data-target="#image-gallery">
                      <img class="img-thumbnail img-user rounded-circle" src="../../imagenes/perfil/{$persona.foto_perfil}" alt="User profile picture">
                      </a>
                  {/if}
                    
                    <span><b>Nombre:</b></span>
                  {if isset($persona.nombre)}
                    {$persona.nombre}
                  {else}
                  El usuario aun no actualiza sus datos
                  {/if}
                  <br>
                  {$usuario=bd_usuarios_datos($lider_seccion[i].tutor_academico)}
                  <span><b>Usuario:</b></span>
                  {$usuario.correo}
                  <a href="tutor_academico_asignar.php?id={$lider_seccion[i].id}&cambiar={$lider_seccion[i].tutor_academico}&seccion={$seccion.id}">Cambiar</a>
                {/if}
                  
              
              </td>
            {/if}


            {if in_array("TUTO_ACO", $verificar) == TRUE }
              <td>
                {if $lider_seccion[i].tutor_comunitario ==  NULL}
                  <a class="btn btn-sm btn-outline-primary" type="button" href="tutor_comunitario_asignar.php?seccion={$seccion.id}&equipo={$lider_seccion[i].id}" title="Asignar Tutor Comunitario"><span class="fa fa-plus"></span></a>
                {else}
                  {$persona=bd_personas_datos($lider_seccion[i].tutor_comunitario)}
                  
                   {if $persona.foto_perfil == NULL}
                      <img class="img-thumbnail img-user rounded-circle" src="../../imagenes/perfil/user.png">
                    {else}
                    <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                   data-image="../../imagenes/perfil/{$persona.foto_perfil}"
                   data-target="#image-gallery">
                      <img class="img-thumbnail img-user rounded-circle" src="../../imagenes/perfil/{$persona.foto_perfil}" alt="User profile picture">
                      </a>
                  {/if}
                    <span><b>Nombre:</b></span>
                  {if isset($persona.nombre)}
                    {$persona.nombre}
                  {else}
                  El usuario aun no actualiza sus datos
                  {/if}
                  <br>
                  {$usuario=bd_usuarios_datos($lider_seccion[i].tutor_comunitario)}
                  <span><b>Usuario:</b></span>
                  {$usuario.correo}
                  <a href="tutor_comunitario_asignar.php?id={$lider_seccion[i].id}&cambiar={$lider_seccion[i].tutor_comunitario}&seccion={$seccion.id}&equipo={$lider_seccion[i].id}">Cambiar</a>
                {/if}
  
              </td>
            {/if}
            

            <td>
              <a href="../equipo/equipo_profesor.php?id_l={if $lider_seccion[i].id_persona !=  NULL}{$lider_seccion[i].id_persona}{/if}&id_e={if $lider_seccion[i].id !=  NULL}{$lider_seccion[i].id}{/if}" class="p-1" title="Ver detalles integrantes del equipo"><i class="fa fa-info-circle"></i></a>
              <a href="../propuesta/propuestas_profesor.php?id_s={$seccion_profesor[i].id}&id_l={if $lider_seccion[i].id_persona !=  NULL}{$lider_seccion[i].id_persona}{/if}&id_e={if $lider_seccion[i].id !=  NULL}{$lider_seccion[i].id}{/if}
              " class="-1" title="Ver Propuestas del equipo"><i class="fas fa-clipboard-list"></i></a>
              {if in_array("LIDE_E",$verificar) == TRUE}
              <a 
                style="color:blue;" 
                class="btn btn-default mimodal p-1"
                title="Eliminar Equipo" 
                data-href="lider_eliminar.php?id={$lider_seccion[i].id}&seccion={$seccion.id}">
                <i class="fa fa-trash"></i>
              </a>
              {/if}
              </td>
          </tr>
        {/section}

        </tbody>
    
      </table>
    </div>
  </div>
      
      
  
  </div>
  </div>
</div>
    

{include "../../modal/modal_galeria.html" prueba="Usuario"} 
{include "../../modal/modal_box.html" prueba="Usuario"} 

{include file="../../pie/pie_interno.html"}