{include file="../../navegacion/cab.html"}
{include file="../../navegacion/sidebar2.html"}
{include file="../../navegacion/cabecera2.html"}


<div class="container-fluid">
  <h2>{$pnf['nombre_corto']}</h2>
  <div class="card shadow">
		<div class="card-header ">
			<h3>Secciones</h3>
			{section name=i loop=$seccion_profesor}
			<h4 class="text-primary"><a href="lideres.php?id={$seccion_profesor[i].id}"><span class="badge badge-secondary badge-pill"></span> {$seccion_profesor[i].nombre}</a></h4>
      
        
       {/section}
	   

  </div>
  </div>
</div>


{include "../../modal/modal_galeria.html" prueba="Usuario"} 
{include "../../modal/modal_box.html" prueba="Usuario"} 

{include file="../../pie/pie_interno.html"}