
<div class="container">
  <div class="row">
    <div class="col">
      <h2>Eliminar Equipo</h2>


  <form  

      action="../mensaje/mensaje_eliminar5.php"
      method="POST" 
      class="px-4 py-3" 
      id="lider_eliminar"
      name="lider_eliminar">
          <input type="hidden" name="id_persona" 
          value="{$lider.id_persona}">
          <input type="hidden" name="si" value="../lider_seccion/proc_lider_eliminar.php">
          <input type="hidden" name="no" value="../lider_seccion/lider_seccion.php">
          <input type="hidden" name="id" value="{$lider.id}">
      
          <div class="form-group">
          <label for="nombre_equipo">Nombre de Equipo</label>
          <input 
            type="text" 
            required="required" 
            class="form-control" 
            id="nombre_equipo" 
            name="nombre_equipo"
            placeholder="Escriba el Nombre Completo"
            value="{$lider.nombre_equipo}"
            disabled="disabled">
        </div>
        <div class="form-group">
        <label for="id_persona">Líder</label>
          <input 
            type="text" 
            required="required" 
            class="form-control" 
            id="id_persona" 
            name="id_persona"
            placeholder="Escriba el Nombre Completo"
            value="{$lider.id_persona}"
            disabled="disabled">
        </div>
    
        
        <div class="form-group">
      <input 
        class="btn-enviar boton" 
        type="submit" 
        name="enviar" 
        value="Eliminar">
      </div>

    </form>
    </div>
    
  </div>
</div>


