{include file="../../navegacion/cab.html"}
{include file="../../navegacion/sidebar2.html"}
{include file="../../navegacion/cabecera2.html"}

	<div class="container-fluid">
		<div class="alert alert-info alert-dismissible fade show" role="alert">
			<strong>Para asignar un comuntario</strong> Escriba el numero de CI o correo electronico si la persona esta registrada agreguela.
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
			</button>
		</div>

	  <div class="card shadow">
	    <div class="card-header ">
			<h2 class="text-center">Asinar un Tutor Comunitario
			</h2>
		</div>

	          {if isset($respuesta)}
	          	<div class="alert alert-danger" role="alert">
	            No se encuentra un rol con los permisos para ser Tutor Comunitario, comuniquese con el administrador para que asigne un rol con los privilegios necesarios.
	          </div>
	          	{else}
				<div class="car m-3 p-4">
                <div class="container">  
                  <form action="tutor_comunitario_asignar.php?seccion={$seccion}&equipo={$equipo}&equipo={$equipo}" method="POST">
                      <div class="input-group">
                        <input id="p" name="p" type="text" class="form-control" placeholder="12345678 o coreo@correo.com" aria-describedby="basic-addon1" required >
                        <span class="input-group-addon bg-primary text-gray-100" id="basic-addon1" style="padding:0 12px;"><i class="fa fa-search  pt-2"></i></span>
                      </div>
                  </form>
                </div>
              </div>
          {/if}

          {if isset($usuarios) and count($usuarios) < 1}
			<div class="m-3 p-4">
                <div class="container">
                	<div class="alert alert-info" role="alert">
			            No se encontro ningun usuario
			            que coincida con la busqueda.<br/> Para continuar registre el usuario [+]
			          </div>
			           <a class="btn btn-sm btn-outline-primary" type="button"
                		href="#" title="Agregar Usuario"
                		id="btn-agregar-usuario">
                		<span class="fa fa-plus"></span>
                	</a>
                </div>
            </div>
            {include file="../../usuario/templates/modal_agregar_ajax.html"}
            {elseif  isset($usuarios)}
			    <section id="home" class="text-center"></section>
			        <section id="intro">
			            <div class="container">
			              <div class="centro"> 
			              	<h3>Selecione un Usuario</h3>
							<form 
			                      action="tutor_comunitario_asignar.php?seccion={$seccion}&equipo={$equipo}" 
			                      method="POST" 
			                      class="px-4 py-3" 
			                      id="Asignar lider de equipo"
			                      name="Asignar lider de equipo">
			                    <div class="form-group">
			                        
			                    	{section name=i loop=$usuarios}
			                        <div class="form-check">
			                              <label class="form-check-label">
			                                <input type="radio"  class="form-check-input"  
			                                name="id_usuario" value="{$usuarios[i].id}">
			                                {$usuarios[i].correo}
			                            </label>
			              	        </div>
			                    {/section}
		                        </div>
	                    		<div class="form-group">
			                        <input 
		                          class="btn btn-primary btn-circle rounded-pill" 
			                          type="submit" 
			                          name="enviar" 
			                          value="Siguiente">
		                      </div>
			                </form>
			            </div>
			        </div>
			    </section>
            {/if}
        </div>
    </div>
</div>

{include file="../../pie/pie_interno.html"}