<div class="container">
    <div class="row">
        <div class="col">

      <div class="mt-3 py-2 mx-2 px-3">  
        <div class="my-1 py-1">  
            <h5 class="font-weight-bold text-gray-900">{$d.titulo}</h5>
        </div> 
        <div class="my-1 py-1">
          <br>
          <span class="mb-1 font-weight-bold text-gray-800"><strong>{section name=j loop=$d.equipo}
            {$d.equipo[j].nombre} {$d.equipo[j].apellido}.
          {/section}
          <br>

          {$d.lider.nombre} {$d.lider.apellido}.
        </strong> </span>
        </div>
        <div class="my-1 py-1">
          
          <p class="text-justify mb-auto">{$d.resumen}.</p>

        </div>
          <div class="my-1 py-1">
            <strong class="font-weight-bold text-gray-800"> Palabras Clave:</strong> <span class="buscar-pclave">{$d.palabras_clave}</span>
            <br>

          <span class="mb-1 text-muted">{$d.fecha_mes}, {$d.fecha_anyo}</span>
           
          </div>
      </div>



        </div>    
    	</div>
	</div>
</div>