<div class="container">
  <div class="row">
    <div class="col-md-12">  
      <div align="center" class="m-2 p-3">
          
          <h3 class="font-weight-bold text-gray-900">¿Desea eliminar <b>{$seccion['nombre']}</b>?</h3> 
            <a  href="proc_seccion_emiminar.php?id={$id_seccion}&id_trayecto={$id_trayecto}"  class="btn btn-primary rounded-pill">SI</a>
            <a  href="#" data-dismiss="modal" class="btn btn-secondary rounded-pill">NO</a>
      </div>
              
    </div>
  </div>
</div>