{include file="../../navegacion/cab.html"}
{include file="../../navegacion/sidebar2.html"}
{include file="../../navegacion/cabecera2.html"}
{include file="../../navegacion/barra_nucleo_pnf.html"}

<div class="container-fluid">
	<nav aria-label="breadcrumb" role="navigation">
	  <ol class="breadcrumb">
	    <li class="breadcrumb-item"><a href="../inicio/inicio_interno.php">Repo</a></li>
	    <li class="breadcrumb-item"><a href="../distribuidor/distribuidor.php?r={$smarty.session['r'][$smarty.session['numero']].id_rol}&n={$smarty.session['numero']}">Panel {$smarty.session["r"][$smarty.session["numero"]].rol}</a></li>
	    <li class="breadcrumb-item"><a href="tutor.php">Equipos</a></li>
	    
	  </ol>
	</nav>
	  <h2 class="font-weight-bold text-gray-900">Equipos</h2>
	  <div class="row">
	  	<div class="col-md-6">
		    <div class="list-group">
				{section name=i loop=$equipos}
			  <a href="tutor.php?i={$equipos[i].id}" class="list-group-item list-group-item-action">
			    {$equipos[i].nombre_equipo}
			  </a>
			 
				{/section}
			</div>
	 
	  	</div>
	</div>
</div>


{include "../../modal/modal_box.html" prueba="Tipos de trabajo"} 
{include file="../../pie/pie_interno.html"}