
<div class="container">
<div class="row">
  <div class="col-2"></div>
  <div class="col-8">   
    <section id="home" class="text-center"></section>
        <section id="intro">
            <div class="container">
              <div class="nivel_instruccion"> 
                  <h2>Agreagar nível de instrucción</h2>
                    <form 
                    	action="proc_nivel_instruccion_agregar.php" 
                    	method="POST" 
                    	class="px-4 py-3" 
                    	id="nivel_instruccion"
                    	name="nivel_instruccion">
                    
                     	                    
                      	<div class="form-group">
                          <label for="nombre">Nível de instrucción</label>
                          <input 
                            type="text" 
                            title="Escriba el nombre del nível de instruccion" 
                            required="required" 
                            class="form-control" 
                            id="nombre_nivel_instruccion" 
                            name="nombre_nivel_instruccion"
                            placeholder="Ingeniero en.....">
                        </div>
                    
                    
                    	<div class="form-group">
          							<input 
          								class="btn-enviar boton" 
          								type="submit" 
          								name="enviar" 
          								value="Registrar">
                    	</div>
                    </form>
              </div> 
            </div>
        </section>
  </div>
  <div class="col-2"></div>

</div>  
</div>



