{include file="../../navegacion/cab.html"}
{include file="../../navegacion/sidebar2.html"}
{include file="../../navegacion/cabecera2.html"}
{include file="../../navegacion/barra_nucleo_pnf.html"}
   
  <div class="container-fluid">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="../inicio/inicio_interno.php">Repo</a></li>
    <li class="breadcrumb-item"><a href="../distribuidor/distribuidor.php?r={$smarty.session['r'][$smarty.session['numero']].id_rol}&n={$smarty.session['numero']}">Panel {$smarty.session["r"][$smarty.session["numero"]].rol}</a></li>
    <li class="breadcrumb-item active" aria-current="page">Trayectos pnf</li>
  </ol>
    <div class="card shadow">
        <div class="card-header d-flex justify-content-between">
	        <h3 class="text-primary"><span class="badge badge-secondary badge-pill"></span>Trayectos
	        </h3>
	            {if in_array("TRPN_A",$verificar) == TRUE}
	             <a class="btn btn-primary mimodal btn-circle" type="button" 
	            data-href="trayecto_pnf_asignar.php?id={$pnf['id']}" title="Agregar PNF a {$pnf['nombre_corto']}"><span class="fa fa-plus text-white"></span></a>
	            {/if}
        </div>
        <div class="card-body">
          <div class="table-responsive">
	           <table class="table" id="tabla_repo">
                <thead>
                  <tr>
                    <th>Trayecto</th>
                    <th>Funciones</th>
                  </tr>
                </thead>
                <tbody>

                {section name=i loop=$trayecto_pnf}
                  <tr>
                    <td>{$trayecto_pnf[i].trayecto}</td>
                    {if in_array("PNNU_M",$verificar) == TRUE}
                    <td>
                      <a 
                        class="btn btn-info mimodal btn-circle btn-sm"
                        title="Modificar trayecto" 
                        data-href="trayecto_pnf_modificar.php?id={$trayecto_pnf[i].id}&id_trayecto={$trayecto_pnf[i].id_trayecto}">
                        <i class="fa fa-edit text-white"></i>
                      </a>
                      {/if}
                      {if in_array("PNNU_E",$verificar) == TRUE}
                      <a 
                        style="margin-bottom:3px; color:blue;" 
                        class="btn btn-danger mimodal btn-circle btn-sm"
                        title="Eliminar trayecto" 
                        data-href="trayecto_pnf_eliminar.php?id={$trayecto_pnf[i].id}&id_trayecto={$trayecto_pnf[i].id_trayecto}">
                        <i class="fa fa-trash text-white"></i>
                      </a>
                      {/if}
                    <td>
                  </tr>
                {/section}
                </tbody>
              </table>

      </div>
    </div>
	</div>
</div>
{include "../../modal/modal_box.html" prueba="Usuario"} 

{include file="../../pie/pie_interno.html"}