{include file="../../navegacion/cab.html"}
{include file="../../navegacion/sidebar2.html"}
{include file="../../navegacion/cabecera2.html"}
   
<div class="container-fluid">
  <div class="card shadow">
      <div class="card-header ">
        <h2 class="text-primary"><span class="badge badge-secondary badge-pill">{$n_nucleos_pnf}</span> {$nucleo['nombre_corto']}
            {if in_array("PNNU_A",$verificar) == TRUE}
             <a class="btn btn-sm btn-outline-primary mimodal" type="button" 
            data-href="pnf_nucleo_asignar.php" title="Agregar PNF a {$nucleo['nombre_corto']}"><span class="fa fa-plus"></span></a>
            {/if}
          </h2>
      </div>
      <div class="card-body">
        <div class="table-responsive">

              <table class="display table" id="tabla_repo" style="width:100%">
                <thead>
                  <tr>
                    <th>Nombre Largo</th>
                    <th>Nombre Corto</th>
                    <th>Funciones</th>
                    {if in_array("PNNU_RP", $verificar) == TRUE }
                    <th>Responsable</th>
                    {/if}
                  </tr>
                </thead>
                <tbody class="buscar" id="personas">

                {section name=i loop=$pnf_nucleo}

                  <tr>
                    <td>{$pnf_nucleo[i].nombre_largo}</td>
                    <td>{$pnf_nucleo[i].nombre_corto}</td>
                    {if in_array("PNNU_E",$verificar) == TRUE}
                    <td class="text-center" style="white-space: nowrap;">
                    <a 
                      style="margin-bottom:3px; color:blue;" 
                      class="btn btn-default mimodal"
                      title="Eliminar PNF_nucleo" 
                      data-href="pnf_nucleo_eliminar.php?id={$pnf_nucleo[i].id}&id_pnf={$pnf_nucleo[i].id_pnf}">
                      <i class="fa fa-trash"></i>
                    </a>
                    </td>
                    {/if}
                    {if in_array("PNNU_RP", $verificar) == TRUE }
                      <td>
                        {if $pnf_nucleo[i].responsable ==  NULL}
                          <a class="btn btn-sm btn-outline-primary mimodal" type="button" href="pnf_nucleo_responsable.php?id_relacion={$pnf_nucleo[i].id}&id_pnf={$pnf_nucleo[i].id_pnf}&id_nucleo={$nucleo['id']}" title="Asignar responsable {$pnf_nucleo[i].nombre_corto}"><span class="fa fa-plus"></span></a>
                        {else}
                        {$persona=bd_personas_datos($pnf_nucleo[i].responsable)}
                          <span><b>Nombre:</b></span>
                        {$persona[0].nombre}
                        <br>
                        {$usuario=bd_usuarios_datos($pnf_nucleo[i].responsable)}
                        <span><b>Usuario:</b></span>
                        {$usuario.correo}
                        <a href="pnf_nucleo_responsable.php?id_relacion={$pnf_nucleo[i].id}&id_pnf={$pnf_nucleo[i].id_pnf}&id_nucleo={$nucleo['id']}&cambiar={$pnf_nucleo[i].responsable}">Cambiar</a>
                        {/if}
                      </td>
                    {/if}
                  </tr>
                {/section}

                </tbody>
              </table>


	  </div>
	</div>
</div>
</div>
{include "../../modal/modal_box.html" prueba="Usuario"} 

{include file="../../pie/pie_interno.html"}