<div class="container">
<div class="row">
  <div class="col-2"></div>
  <div class="col-8">   
    <section id="home" ></section>
      <section id="intro">
        <div class="container p-2 m-3">
          <div class="centro"> 
            <h3 class="font-weight-bold text-gray-900">Eliminar PNF</h3>
            <form 
             	action="proc_pnf_nucleo_eliminar.php" 
             	method="POST" 
             	class="px-4 py-3" 
             	id="Elimibar_pnd_nucleo"
             	name="Elimibar_pnd_nucleo">
              <input type="hidden" name="id" value="{$id}">
              <div class="form-group">
                <input type="tect" name="pnf" value="{$pnf.nombre_corto}" disabled="">
              </div>

              <input 
                class="btn btn-primary  rounded-pill m-2" 
                type="submit" 
                name="enviar" 
                value="Eliminar">
            </form>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>