{include file="../../navegacion/cab.html"}
{include file="../../navegacion/sidebar2.html"}
{include file="../../navegacion/cabecera2.html"}

        <div class="container-fluid">
          <div class="row">
            <div class="col-md-4">
              <div class="card card-primary card-outline border-bottom-primary shadow" >
                <div class="card-body">
                  <div class="text-center">
                    <img class="img-profile img-fluid rounded-circle p-5"
                         src="../../imagenes/user.png"
                         alt="User profile picture">
                  </div>

                  <h3 class="profile-username text-center">{$personas[0].nombre} {$personas[0].apellido}</h3>

                  <p class="text-muted text-center">{$usuarios.correo}</p>
                  <p class="text-muted text-center">{$usuarios.id}</p>

                  <a class="btn btn-outline-primary  btn-block mimodal" data-href="personas_modificar.php?id={$personas[0].id}" value="Modificar Datos">
                    <i class="fa fa-pencil-square-o fa-fw fa-lg"></i>Modificar Datos
                  </a>
                  <a class="btn btn-outline-primary  btn-block mimodal" data-href="../personas/usuarios_cambiar_clave.php">
                  <i class="fa fa-unlock-alt fa-sm fa-fw text-gray-400"></i>
                  Cambiar
                </a>

                </div>
              </div>
            </div>
          </div>
        </div>


{include "../../modal/modal_box.html" prueba="Usuario"} 


{include file="../../pie/pie_interno.html"}