
<div class="container">
  <div class="row">
    <div class="col">
      <h2>Cambiar foto de perfil</h2>

      <form 
      action="proc_personas_modificar.php" 
      method="POST" 
      class="px-4 py-3" 
      id="registro_usuario"
      name="registro_usuario">
       <div class="alert alert-info" role="alert">
        Repo es una plataforma educativa por favor seleccione una fotoagrafia acorde a un perfil universitario
      </div>
      <input type="hidden" name="id" value="{$persona[id]}">
        <div class="form-group">
          <label for="exampleFormControlFile1">Buscar fotografia</label>
          <input type="file" class="form-control-file" id="exampleFormControlFile1">
        </div>

      <div class="form-group">
      <input 
        class="btn btn-primary boton" 
        type="submit" 
        name="enviar" 
        value="Modificar">
      </div>

    </form>


    </div>
    
  </div>
</div>


