
<div class="container">
  <div class="row">
    <div class="col">
      <h2>Eliminar Centro de Investigación</h2>


  <form   

      action="../../mensaje_eliminar4.php"
      method="POST" 
      class="px-4 py-3" 
      id="centros_eliminar"
      name="centros_eliminar">
          <input type="hidden" name="nombre" 
          value="{$centros.nombre}">
          <input type="hidden" name="si" value="modulos/centro_de_investigacion/proc_centros_eliminar.php">
          <input type="hidden" name="no" value="modulos/centro_de_investigacion/centros.php">
          <input type="hidden" name="id" value="{$centros.id}">
      
          <div class="form-group">
          <label for="nombre">Nombre Completo</label>
          <input 
            type="text" 
            required="required" 
            class="form-control" 
            id="nombre" 
            name="nombre"
            placeholder="Escriba el Nombre Completo"
            value="{$centros.nombre}"
            disabled="disabled">
        </div>
    
        
        <div class="form-group">
      <input 
        class="btn-enviar boton" 
        type="submit" 
        name="enviar" 
        value="Eliminar">
      </div>

    </form>
    </div>
    
  </div>
</div>


