{include file="../../navegacion/cab.html"}
{include file="../../navegacion/sidebar2.html"}
{include file="../../navegacion/cabecera2.html"}
{include file="../../navegacion/barra_nucleo_pnf.html"}
   


<!--finaliza-->
			 <div class="container-fluid">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="../inicio/inicio_interno.php">Repo</a></li>
    <li class="breadcrumb-item"><a href="../distribuidor/distribuidor.php?r={$smarty.session['r'][$smarty.session['numero']].id_rol}&n={$smarty.session['numero']}">Panel {$smarty.session["r"][$smarty.session["numero"]].rol}</a></li>
    <li class="breadcrumb-item active" aria-current="page"> Centros de Investigación</li>
  </ol>
        <div class="card">
            
          <div class="card-header d-flex justify-content-between">
            <h2 class="text-primary" ><span class="badge badge-secondary badge-pill">{$n_centros}</span> Centros de Investigación
            </h2>
            {if in_array("CENT_A",$verificar) == TRUE}
             <a class="btn  btn-primary btn-circle mimodal" type="button"
            data-href="centros_agregar.php" title="Agregar Centro de Investigación"><span class="fa fa-plus text-white"></span></a>
            {/if}
          </div>
            
            
          <div class="card-body">
            <div class="table-responsibe">
              <table  class="table" id="tabla_repo">
                <thead>
                  <tr>
                    <th>N°</th>
                    <th>Nombre</th>
                    <th>Funciones</th>
                  </tr>
                </thead>
                <tbody class="buscar" id="personas">

                {section name=i loop=$centros}

                  <tr>
                    <td>{$centros[i].id}</td>
                    <td>{$centros[i].nombre}</td>

                    <td class="text-center" style="white-space: nowrap;">
                    {if in_array("CENT_M",$verificar) == TRUE}
                    <a 
                      class="btn btn-info btn-circle btn-sm  mimodal" 
                      title="Modificar Centro de Investigación" 
                      data-href="centros_modificar.php?id={$centros[i].id}">
                      <i class="fa fa-edit text-white"></i>
                    </a>
                    {/if}
                    {if in_array("CENT_E",$verificar) == TRUE}
                    <a 
                      class="btn btn-danger btn-circle btn-sm mimodal"
                      title="Eliminar Centro de Investigación" 
                      data-href="centros_eliminar.php?id={$centros[i].id}">
                      <i class="fa fa-trash text-white"></i>
                    </a>
                    {/if}
                    </td>
                  </tr>
                {/section}
                </tbody>
              </table>
              
          </div>
        </div>
      </div>
    </div>

{include "../../modal/modal_box.html" prueba="Usuario"} 

{include file="../../pie/pie_interno.html"}