{include file="cabecera.html"}

<section id="home" class="text-center"></section>
  <section id="intro">
    <div class="container">
      <div class="row text-center" >
        <div class="col-md-8 offset-2">
          <div class="centro">
           <h1 class="titulo" title="Nucleo Beatriz">nucleo beatriz</h1>
            <div class=""></div>
						 
					
				
					</div>
				</div>
	</section>



<!--Enlaces a los distintos Nucleos -->

<div class="container-fluid ">
	<div class="row">
		<div class="col-md-10 offset-2">
			<div class="row">
				<div class="col-md-2">
					<div class="card border-0" align="center">
						<a href="beatriz.php"><i class="fa fa-university fa-5x nucleo"></i><h5 class="nucleo">beatriz</h5></a>
					</div>
				</div>
				<div class="col-md-2">
					<div class="card border-0" align="center">
						<a href="#"><i class="fa fa-university fa-5x nucleo"></i><h5 class="nucleo">san luis</h5></a>
					</div></a>
				</div>
				<div class="col-md-2">
					<div class="card border-0" align="center">
						<a href="#"><i class="fa fa-university fa-5x nucleo"></i><h5 class="nucleo">bocono</h5></a>
					</div>
				</div>
				<div class="col-md-2">
					<div class="card border-0" align="center">
						<a href="#"><i class="fa fa-university fa-5x nucleo"></i><h5 class="nucleo">trujillo</h5></a>
					</div>
				</div>
				<div class="col-md-2">
					<div class="card border-0" align="center">
						<a href="#"><i class="fa fa-university fa-5x nucleo"></i><h5 class="nucleo">dividive</h5></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{include file="pie.html"}