{include file="cabecera_interna.html"}

<!-- incluye menu y agrega el espasio de trbajo-->
<div class="container">
    <div class="row">
        <div class="col-sm-2"> 

            {include file="menu_lateral.html"}
        </div>
        <div class="col-sm-10">
<!--finaliza-->
            <br>
            <br>

            <div class="row">
                <div class="col-sm-4">
                    <div class=" text-white bg-primary " style="max-width: 20rem;">
                        <div class="card-header"></div>
                        <div class="card-body">
                            <h4 class="card-title">{$usurios} <i class="fa fa-user fa-fw"></i><small>Usuarios</small></h4>
                            <a href="#" class="button-left"><span class="fa fa-fw fa-bars "></span></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    
                    <div class=" text-white bg-primary mb-3" style="max-width: 20rem;">
                        <div class="card-header"></div>
                        <div class="card-body">
                            <h4 class="card-title">{$sedes} <i class="fa fa-university"></i><small>Sedes</small></h4>
                            <a href="#" class="button-left"><span class="fa fa-fw fa-bars "></span></a>
                        </div>
                    </div>  
                </div>  

                <div class="col-sm-4">
                    <div class=" text-white bg-primary mb-3" style="max-width: 20rem;">
                        <div class="card-header"></div>
                        <div class="card-body">
                            <h4 class="card-title">{$carreras} <i class="fa fa-leanpub"></i><small>Carreras</small></h4>
                            <a href="#" class="button-left"><span class="fa fa-fw fa-bars "></span></a>
                        </div>
                    </div>
                </div>
            </div>    


        </div>
    </div>
</div>

     

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

{include file="pie.html"}