{include file="cabecera_interna.html"}

<!-- incluye menu y agrega el espasio de trbajo-->
<div class="container" style="margin-top: 90px;">
            {include file="menu_lateral.html"}
    <div class="row" id="central">
        
        <div class="col-sm-9 offset-3" style="margin-top: 90px;">
<!--finaliza-->
           

            <div class="row">
                    
                    <div class="card-central card text-white bg-primary mb-3" style="width: 15rem;">
                        <div class="card-body">
                            <h3 class="card-title"> <i class="fa fa-university"></i><small style="margin-left: 20px; margin-right: 20px;">Nucleos</small>{$nucleos}</h3>
                            <a href="#" class="button-left"><span class="fa fa-fw fa-bars "></span></a>
                        </div>
                    </div>  

                    <div class="card-central card text-white bg-primary mb-3" style="width: 15rem;">
                        <div class="card-body">
                            <h3 class="card-title"><i class="fa fa-leanpub"></i><small style="margin-left: 20px; margin-right: 20px;">PNF</small>{$pnf} </h3>
                            <a href="#" class="button-left"><span class="fa fa-fw fa-bars "></span></a>
                        </div>
                    </div>
                     <div class="card-central card text-white bg-primary mb-3" style="width: 15rem;">
                        <div class="card-body">
                            <h3 class="card-title"><i class="fa fa-sitemap"></i><small style="margin-left: 20px; margin-right: 20px;">Roles</small>{$roles}</h3>
                            <a href="#" class="button-left"><span class="fa fa-fw fa-bars "></span></a>
                        </div>
                    </div>
                    <div class="card-central card text-white bg-primary mb-3" style="width: 15rem;">
                        <div class="card-body">
                            <h3 class="card-title"><i class="fa fa-users"></i><small style="margin-left: 20px; margin-right: 20px;">Usuarios</small>{$usuarios}</h3>
                            <a href="#" class="button-left"><span class="fa fa-fw fa-bars "></span></a>
                        </div>
                    </div>
            </div> 
             


        </div>
    </div>
</div>


{include file="pie_interno.html"}