{include file="cabecera_mensaje.html"}
	<div class="jumbotron" style="margin-bottom: 0;">

            <div class="alert alert-dark" style="font-size: 1.4rem;">
                Esta seguro que desea Eliminar {$e}
            </div>
            <form method="POST" action="{$si}">
            	<input type="hidden" name="id" value="{$id}">
            	<button  class="btn btn-dark" type="submit" name="enviar" value="Eliminar">SI</button>
            	<a href="{$no}" class="btn btn-dark" >NO</a>
            </form>
	</div>
{include file="pie_mensaje.html"}