{include file="cabecera_interna2.html"}

<div class="container" style="margin-top: 90px;">
  <div class="row">
  	<div class="col-md-8 offset-md-2 "  >
			<div class="jumbotron" style=" background: #fff;!important">
            <div class="alert alert-dark" style="font-size: 1.4rem; text-align: center;">
            		<hr class="my-4">
                {$m}
                <hr class="my-4">
            </div>
            <a href="{$d}" class="btn btn-dark" >Continuar</a>
		
			</div>
		</div>
	</div>
</div>

{include file="modulos/pie/pie_interno.html"}
