{include file="cabecera_interna.html"}


<!-- incluye menu y agrega el espasio de trbajo-->
<div class="container" style="margin-top: 100px;">
            {include file="menu_lateral.html"}
    <div class="row" id="central">
        
        <div class="col-sm-9 offset-3"  >


        <h2 class="subtitulo" align="center">Datos </h2>
        <form 
          action="peronas_datos.php" 
          method="POST" 
          class="px-4 py-3" 
          id="datos_usuario"
          name="datos_usuario">

        <input type="hidden" name="id" value="{$usuarios['id']}">
          <div class="form-group ">
            <label for="id0">Cedula</label>
            <input 
              class="form-control"
              value="{$usuarios['id']}"
              disabled="disabled">
          </div>

        <input type="hidden" name="id"  value="{$usuarios.correo}">
          <div class="form-group">
            <label for="id0">Correo</label>
            <input 
              class="form-control"
              value="{$usuarios.correo}"
              disabled="disabled">
          </div>

{section name=i loop=$personas}

        <input type="hidden" name="id"  value="{$personas[i].nombre}">
          <div class="form-group">
            <label for="id0">Nombre</label>
            <input 
              class="form-control"
              value="{$personas[i].nombre}"
              disabled="disabled">
          </div>

        <input type="hidden" name="id"  value="{$personas[i].apellido}">
          <div class="form-group">
            <label for="id0">Apellido</label>
            <input 
              class="form-control"
              value="{$personas[i].apellido}"
              disabled="disabled">
        </div>


          <a class="link float-left btn btn-light" href="usuarios_cambiar_clave.php" value="Avanzada">
          <i class="fa fa-unlock-alt fa-lg"></i>Cambiar Clave</a>

          <a class="link float-left btn btn-light mimodal" data-href="personas_modificar.php?id={$personas[i].id}" value="Avanzada">
          <i class="fa fa-pencil-square-o fa-lg"></i>Modificar Datos</a>

               </form>
{/section}
        </div>
  </div>
</div>


{include "modal/modal_box.html" prueba="Usuario"} 


{include file="pie_interno.html"}