<!--Comienzo del Pie de Página-->
<nav class="footerTop" >
    
    <footer class="pie" style="position:relative; bottom: 0;" >
    	<div class="container-fluid">
			<div class="row">
	  			<div class="col" >
        			Realizado por Verónica Osuna, Karla Quintero, José Palencia y Brando Hernández
        		</div>
        		<div class="col-3" align="right">
		    	<a class="icon enlace-claro" href="./manual/manual.pdf"
		    	title="Manual de uso"><i class="fa fa-question-circle" aria-hidden="true"></i> </a>
        	</div>

    </footer>


</nav>

    <script src="./vendor/jquery/jquery-3.3.1.min.js"></script>

    <script src="./vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<!--Final del Pie de Página-->

        

</body>
</html>