<!--Comienzo del Pie de Página-->
<nav class="footerTop" >
    
    <footer class="pie_interno" style="position:relative; bottom: 0;" >
    	<div class="container-fluid">
			  <div class="row">
	  			<div class="col" >
        			Realizado por Verónica Osuna, Karla Quintero, José Palencia y Brando Hernández
        	</div>
        		
        </div>
      </div>


    </footer>


</nav>

    <script src="./vendor/jquery/jquery-3.3.1.min.js"></script>

    <script src="./vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="js.js"></script>
<!--Final del Pie de Página-->

        
{$pie|default:''}
</body>
</html>
