<!--Comienzo del Pie de Página-->
<div class="espacio">
    
</div>    
    <footer class="pie_interno"  >
    	<div class="container-fluid">
			  <div class="row">
	  			<div class="col" >
        			Realizado por Verónica Osuna, Karla Quintero, José Palencia y Brando Hernández
        	</div>
        		
        </div>
      </div>


    </footer>



    <script src="../../vendor/jquery/jquery-3.3.1.min.js"></script>

    <script src="../../vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<!--Final del Pie de Página-->

        
{$pie|default:''}
</body>
</html>
