{include file="cabecera_interna.html"}


<!-- incluye menu y agrega el espasio de trbajo-->
<div class="container" >
            {include file="menu_lateral.html"}
    <div class="row" id="central">
        
        <div class="col-sm-9" style="margin-top: 50px;" >




<!--finaliza-->

            <h2 class="subtitulo" align="center"><span class="badge badge-secondary badge-pill"></span>Privilegios del rol</h2>
           
              <table style="margin-top: 30px;" class="table table-responsive-xl">
                <thead class="thead-dark">
                  <tr>
                    <th>Rol</th>
                    <th>privilegios  
						          <a class="btn btn-sm btn-outline-primary mimodal" type="button" data-href="rol_privilegio_agregar.php?id={$rol['id']}" title="Agregar Rol"><span class="fa fa-plus"></span></a>
                  </th>
                  </tr>

                </thead>
                <tbody class="buscar" id="usuarios">
                  <tr>
                    <td>{$rol['rol']}</td>
                    <td>
                    	{section name=i loop=$privilegios}
                    	<div class="list-group">
                    		 <li class="list-group-item d-flex justify-content-between align-items-center">{$privilegios[i].privilegio}
			                    <a 
			                      style="margin-bottom:3px; color:blue;" 
			                      class="btn btn-default"
			                      title="Eliminar privilegio" 
			                      href="proc_rol_privilegio_eliminar.php?id={$rol['id']}&privilegio={$privilegios[i].id_privilegio}">
			                      <i class="fa fa-trash"></i>
			                    </a>
                    		 </li>
                    		
                    	</div>
                    	
                    	{/section}
                    </td>
                  </tr>
                </tbody>
              </table>
          
           
		</div>
	</div>
</div>

{include "modal/modal_box.html" prueba="Usuario"} 

{include file="pie_interno.html"}
