{include file="cabecera_interna.html"}


<!-- incluye menu y agrega el espasio de trbajo-->
<div class="container" style="margin-top: 90px;">
            {include file="menu_lateral.html"}
    <div class="row" id="central">
        
        <div class="col-sm-9 offset-3"  style="margin-top: 30px;">



<!--finaliza-->


            <h2  align="center"><span class="badge badge-secondary badge-pill">{$n_roles}</span>Roles <a class="btn btn-sm btn-outline-primary mimodal" type="button"
            data-href="roles_agregar.php" title="Agregar Rol"><span class="fa fa-plus"></span></a></h2>

            <div class="collapse" id="collapseExample">
              <div class="jumbotron jumbo_buscar">
                <div class="container">  
                  <form action="usuarios.php" method="POST">
                      <div class="input-group">
                        <input id="p" name="p" type="text" class="form-control" placeholder="Escriba aquí y pulse INTRO" aria-describedby="basic-addon1">
                        <span class="input-group-addon" id="basic-addon1" style="padding:0 12px;"><i class="fa fa-search"></i></span>
                      </div>
                  </form>
                </div>
              </div>
            </div>
          
           
              <table style="margin-top: 30px;" class="table table-responsive-xl">
                <thead class="thead-dark">
                  <tr>
                    <th>Rol</th>
                    <th> Nivel</th>
                    <th> FUNCIONES</th>
                    <th><div class="btn-group">
                          
                    <button class="btn btn-sm btn-outline-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" title="Buscar">
                    <samp class="fa fa-search"></samp>
                    </button>
                    </div>
                   </th>
                  </tr>
                </thead>
                <tbody class="buscar" id="Roles">
{section name=i loop= $roles}
                  <tr>
                    <td>{$roles[i].rol}</td>
                    <td>{$roles[i].nivel}</td>
                    <td class="text-center" style="white-space: nowrap;">
                    <a 
                      style="margin-bottom:3px; color:blue;" 
                      class="btn btn-default"
                      title="Ver detalles de ROL" 
                      href="roles_datos.php?id={$roles[i].id}">
                      <i class="fa fa-archive"></i>
                    </a>
                    <a 
                      style="margin-bottom:3px; color:blue;" 
                      class="btn btn-default mimodal"
                      title="Eliminar Rol" 
                      data-href="roles_eliminar.php?id={$roles[i].id}">
                      <i class="fa fa-trash"></i>
                    </a>
                  
                    </td>
                  </tr>
{/section}
                </tbody>
              </table>
     

       </div>
   </div>

</div>

{include "modal/modal_box.html" prueba="Usuario"} 

{include file="pie_interno.html"}