{include file="cabecera_interna.html"}
<br>
<br>
<br>
<br>
<div class="container">
<div class="row">
  <div class="col-4"></div>
  <div class="col-6">   
    <section id="home" class="text-center"></section>
        <section id="intro">
            <div class="container">
              <div class="centro"> 
                  <h1>Asignar Rol</h1>
                    <form 
                      action="proc_usuarios_rol_asignar.php" 
                      method="POST" 
                      class="px-4 py-3" 
                      id="Asignar_rol"
                      name="Asignar_rol">
                        <div class="form-group">
                        <input type="hidden" name="id" value="{$id}">

                          {section name=i loop=$roles}
                            <div class="form-check">

                              <label class="form-check-label">
                                <input type="radio"  class="form-check-input"  
                                name="rol" value="{$roles[i].id}">
                                {$roles[i].rol}
                              </label>
                            </div>
                          {/section}
                        </div>
                      <div class="form-group">
                        <input 
                          class="btn-enviar btn btn-sm btn-primary" 
                          type="submit" 
                          name="enviar" 
                          value="Registrar">
                      </div>
                    </form>
                </div>
              </div>
            </section>
        </div>
  </div>
</div>

{include file="pie_interno.html"}