<div class="container">
<div class="row">
  <div class="col-2"></div>
  <div class="col-8">   
    <section id="home" class="text-center"></section>
        <section id="intro">
            <div class="container">
              <div class="centro"> 
                  <h1 align="center">Modificar Usuario</h1>
                    <form 
                      action="proc_usuarios_modificar.php" 
                      method="POST" 
                      class="px-4 py-3" 
                      id="registro_usuario"
                      name="registro_usuario"           >
                    
                      <div class="form-group">
                          <label for="id">Cedula</label>
                           <input 
                            type="text" 
                            title="Escriba la ci del Usuario" 
                            required="required" 
                            class="form-control" 
                            id="id_new" 
                            name="id_new" 
                            placeholder=""
                            value="{$usuario.id}">
                            <input type="hidden" name="id" value="{$usuario.id}">
                        </div>

                      <div class="form-group">
                          <label for="correo">Correo Electrónico</label>
                           <input 
                            type="email" 
                            title="Escriba su Correo Electrónico" 
                            required="required" 
                            class="form-control" 
                            id="correo" 
                            name="correo" 
                            placeholder="{$usuario.correo}"
                            value="{$usuario.correo}">
                        </div>
                    
                        <!--div class="form-group">
                          <label for="Tipo">Rol del usuario</label>
                          <select 
                            title="Seleccione el Tipo de Usuario que le Corresponda" 
                            required="required" 
                            id="rol" 
                            name="rol" 
                            class="form-control"><option value="{$usuario.id_rol}">Rol actual</option>
                            {section name=i loop=$roles}<option value="{$roles[i].id}">{$roles[i].rol}</option>
                            {/section}
                          </select>
                        </div-->


                      <div class="form-group">
                        <input 
                          class="btn-enviar btn btn-sm btn-primary" 
                          type="submit" 
                          name="enviar" 
                          value="Modificar">
                      </div>
                    </form>
              </div> 
            </div>
        </section>
  </div>
  <div class="col-2"></div>

</div>  
</div>
