{include file="../../navegacion/cab.html"}
{include file="../../navegacion/sidebar2.html"}
{include file="../../navegacion/cabecera2.html"}
{include file="../../navegacion/barra_nucleo_pnf.html"}

        <div class="container-fluid py-2">
        
          <nav aria-label="breadcrumb" role="navigation">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="../inicio/inicio_interno.php">Repo</a></li>
              <li class="breadcrumb-item">Panel {$smarty.session["r"][$smarty.session["numero"]].rol}</li>
            </ol>
          </nav>
         
            <!-- a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fa fa-download fa-sm text-white-50"></i> Generate Report</a-->
           
      <div class="row mb-5 py-4">
        {section  name=i loop= $smarty.session[{$smarty.session['actual']}] }
        {if {$smarty.session[{$smarty.session['actual']}][i].direccion} != NULL }

          <!-- Content Row -->

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">{$smarty.session[{$smarty.session['actual']}][i].nombre|capitalize}</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{$smarty.session[{$smarty.session['actual']}][i].cant}</div>
                    </div>
                    <div class="col-auto">
                      <i class="{$smarty.session[{$smarty.session['actual']}][i].icono} fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
                <a href="../{$smarty.session[{$smarty.session['actual']}][i].direccion}" class="card-link">
                  <div class="card-footer text-muted text-center py-0">
                    Mas informacion <i class="fas fa-arrow-circle-right text-primary"></i>
                  </div>
                </a>
              </div>
            </div>


          {else}
        {/if}
        {/section}
   </div>
 </div>



{include file="../../pie/pie_interno.html"}