{include file="../../cabecera/cabecera_interna.html"}


<!-- incluye menu y agrega el espacio de trabajo -->
<div class="container" >
            {include file="../../menu/menu_lateral.html"}
    <div class="row" id="central">
        
<!--finaliza-->
           
        {section  name=i loop= $smarty.session[{$smarty.session['actual']}] }
        {if {$smarty.session[{$smarty.session['actual']}][i].direccion} != NULL }

          <div class="card-central card text-white bg-primary mb-3" style="width: 17rem; margin-top: 90px;">
              <div class="card-body">
            <h3 class="card-title"><i class="{$smarty.session[{$smarty.session['actual']}][i].icono}"></i>
            <small>{$smarty.session[{$smarty.session['actual']}][i].nombre|capitalize}</small></h3><h4><div class="card-footer">
            <span class="badge-pill">{$smarty.session[{$smarty.session['actual']}][i].cant}</span></div></h4>
            


            </div>
          </div>
          {else}
        {/if}
        {/section}

    </div>
</div>


{include file="../../pie/pie_interno.html"}