<div class="row">
	<div class="col-md-2"></div>
		<div class="col-md-8">
			<div class="container my-3">
				<h4 class="font-weight-bold text-gray-900">Solicitar entregable</h4>
				<form id="tipo_documento" method="POST" action="proc_entregables_tipo_trabajo.php">
					<div class="form-group">
						<input type="hidden" name="id" value="{$id}">
						<label for=tipo>Tipo documento</label>
						<select class="form-control" id="tipo" name="tipo" required="">
							<option ></option>
						{section name=i loop=$tipos}	
							<option value="{$tipos[i].id}" >{$tipos[i].nombre}</option>
						{/section}	

						</select>
					</div>
					<div id="carga">
				
					</div>
					<div class="container my-3">
						<h5 id="titulo" class="font-weight-bold text-gray-900 mys-3"></h5>
						<ul class="list-group" id="estructura">

						</ul>

					</div>

				<div class="form-group" id="enviar">

				</div>

				</form>
			</div>
			

		</div>
	<div class="col-md-2"></div>
</div>
{literal}
<script type="text/javascript">
	$('#tipo').change(function(){
    let tipo_d = $(this).val();
	let estuctura = $('#estructura');
	$.ajax({
	  url: "../TIPOS_DE_DOCUMENTOS/tipo_ajax.php",
	  type: "POST",
	  datatype:"json",
	  data:{tipo_d : tipo_d},    
	  beforeSend: function(){
	    //imagen de carga
	      $('#carga').html('<div id="carga" class="d-flex justify-content-center m-5 p-5"><div class="spinner-grow text-primary" role="status"><span class="sr-only">Loading...</span></div></div>');
	    }, 
	  success: function(data) {
	    $('#carga').remove();
	    if (data != 0){
	        $('#titulo').text('Estructura');
	        estructura = JSON.parse(data);
	        estuctura.empty();
	        $(estructura).each(function(i, v){ // indice, valor
	         estuctura.append('<li class="list-group-item">' + v.nombre + '</li>');
	        })
	        $('#enviar').append('<input class="btn-enviar btn btn-sm btn-primary rounded-pill" type="submit" name="enviar" value="Registrar">');
	    }else{
	    	estuctura.empty();
	        $('#enviar').empty()
	        $('#titulo').text('Este tipo de documento aun no posee ninguna estructura');

	    }
	  }
	});

 });

</script>
{/literal}