{include file="../../navegacion/cab.html"}
{include file="../../navegacion/sidebar2.html"}
{include file="../../navegacion/cabecera2.html"}
{include file="../../navegacion/barra_nucleo_pnf.html"}

 <div class="container-fluid">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="../inicio/inicio_interno.php">Repo</a></li>
      <li class="breadcrumb-item"><a href="../distribuidor/distribuidor.php?r={$smarty.session['r'][$smarty.session['numero']].id_rol}&n={$smarty.session['numero']}">Panel {$smarty.session["r"][$smarty.session["numero"]].rol}</a></li>
      <li class="breadcrumb-item active" aria-current="page">Tipos de documentos</li>
    </ol>

    <div class="card">
    	<div class="card-header d-flex justify-content-between">
    		<h4 class="text-primary card-title font-weight-bold">
    			Entregables
    		</h4>
    			{if in_array("ENTR_A",$verificar) == TRUE}
	             <a class="btn  btn-primary  btn-circle mimodal" type="button" 
	            data-href="entregables_agregar.php?s={$id}" title="Solicitar entregable"><span class="fa fa-plus text-white"></span></a>
	            {/if}
    	</div>
    	<div class="card-body">
    		<div class="table-responsive">
	           <table class="table" id="tabla_repo">
                <thead>
                  <tr>
                    <th>Fecha socitud</th>
                    <th>Fecha entrega</th>
                    <th>Observaciones</th>
                    <th>Funciones</th>
                  </tr>
                </thead>
                <tbody>

                {section name=i loop=$entregables}
                  <tr>
                    <td>{$entregables[i].fecha_inicio}</td>
                    <td>{$entregables[i].fecha_entrega}</td>
                    <td>{$entregables[i].observaciones}</td>
                    <td>
                    {if in_array("ENTR_L",$verificar) == TRUE}
                      <a 
                        class="btn btn-success btn-circle btn-sm mimodal"
                        title="Ver detalles" 
                        data-href="entregables_detalle.php?id={$entregables[i].id}">
                        <i class="far fa-eye text-white"></i>
                      </a>
                    {/if}
                    {if in_array("ENTR_M",$verificar) == TRUE}
                      <a 
                        class="btn btn-info btn-circle btn-sm mimodal"
                        title="Modificar entregable" 
                        data-href="entregables_modificar.php?id={$entregables[i].id}">
                        <i class="fa fa-edit text-white"></i>
                      </a>
                      {/if}
                      {if in_array("ENTR_E",$verificar) == TRUE}
                      <a 
                        class="btn btn-danger btn-circle btn-sm mimodal"
                        title="Eliminar entregable" 
                        data-href="entregables_eliminar.php?id={$entregables[i].id}">
                        <i class="fa fa-trash text-white"></i>
                      </a>
                      {/if}
                    </td>
                  </tr>
                {/section}
                </tbody>
              </table>

      </div>
    		
    	</div>
    </div>
</div>


{include "../../modal/modal_box.html" prueba="Entregables"} 
{include file="../../pie/pie_interno.html"}