{include file="../../navegacion/cab.html"}
{include file="../../navegacion/sidebar2.html"}
{include file="../../navegacion/cabecera2.html"}
{include file="../../navegacion/barra_nucleo_pnf.html"}

 <div class="container-fluid">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="../inicio/inicio_interno.php">Repo</a></li>
      <li class="breadcrumb-item"><a href="../distribuidor/distribuidor.php?r={$smarty.session['r'][$smarty.session['numero']].id_rol}&n={$smarty.session['numero']}">Panel {$smarty.session["r"][$smarty.session["numero"]].rol}</a></li>
      <li class="breadcrumb-item active" aria-current="page">Trabajos</li>
    </ol>

    <div class="card">
    	<div class="card-header d-flex justify-content-between">
    		<h4 class="text-primary card-title font-weight-bold">
    			Trabajos
    		</h4>
    		<a data-href="trabajos_agregar.php" class="btn btn-primary btn-circle mimodal"><span class="fa fa-plus text-white"></span></a>
    	</div>
    	<div class="card-body">
    		<div class="table-responsive">
	           <table class="table" id="tabla_repo">
                <thead>
                  <tr>
                    <th>Titulo</th>
                    <th>Funciones</th>
                  </tr>
                </thead>
                <tbody>

                {section name=i loop=$archivos}
                  <tr>
                    <td>{$archivos[i]}</td>
                    <td>
                    <a 
                        class="btn btn-success btn-circle btn-sm mimodal" 
                        title="Modificar tipo de documento" 
                        data-href="../documentos/documento_ver.php?i={$archivos[i]}">
                        <i class="far fa-eye text-white"></i>
                      </a>

                    
                    </td>
                  </tr>
                {/section}
                </tbody>
              </table>

      </div>
    		
    	</div>
    </div>
</div>


{include "../../modal/modal_box.html" prueba="Trabajos"} 
{include file="../../pie/pie_interno.html"}